const NotFound = { template: '<p>'+window.location.pathname+' -> Page not found</p>' }
const router = new VueRouter({
    mode: 'history',
    routes:[
        {path: '/', component: window.httpVueLoader('/Reservation/Accueil/VueAccueil.vue')},
        {path: '/sorties', component: window.httpVueLoader('/Reservation/Spectacle/VueList.vue')},
        {path: '/sorties/:url', component: window.httpVueLoader('/Reservation/Spectacle/VueFiche.vue')},
        {%  for menu in User.Menus %}
            {% if menu.Url!='' and menu.Url!='sorties' %}
            {path: '/{{ menu.Url }}', component: window.httpVueLoader('/{{ menu.Alias }}/VuePage.vue'+'?tms='+Date.now())},
            {% endif %}
        {% endfor %}
    ]
});

//Declaration filtre
Vue.filter('date', function (value) {
    var vals = value.split('/');
    var tmpDate = vals[2]+'-'+vals[1]+'-'+vals[0];
    var date = new Date(tmpDate);
    //console.error( date );
    return value;
});

window.spec = new Vue({
        el: '#app',
        data: {
        genre: '',
        spectacles: [],
        spectacle: false,
        date: '',
        appDate : '',
        search: '',
        dirty: 0,
        render: true,
        first: true,
        currentRoute: window.location.pathname,
    },
    router: router,
    components: {
        headerMenu: window.httpVueLoader('/Systeme/Header/VueMenu.vue'),
        vuejsDatepicker
    }
});

