#Header{
	background:url("../Img/sprite.png") no-repeat;
	position:relative;
	z-index: 10;
	height: 177px;
}

#Banniere {
	height:137px;
}

a.RetourAccueil {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 220px;
	bottom: 35px;
}
div#appelrappel {
	position:absolute;
	left: 797px;
    top: 68px;
}
.FormRappel {
	font-family:Arial;
	font-size: 10px;
}
.FormRappelReponse {
	font-family:Arial;
	width:159px;
	font-size: 10px;
}

.rapnum, .rapnum:active {
	width:132px;
	font-size:10px;
	border: 1px solid #a9a9a9;
}
.rapbtn {
	background: url("../Img/sprite.png") no-repeat scroll 0 -816px transparent;
	border: medium none;
	height: 25px;
	width: 20px;
	padding: 0;
	text-indent: -999px;
	cursor: pointer;
}
.rapbtn:hover {
	background-position:-27px -816px ;
}
.partenairesheader {
	position:absolute;
	right: 77px;
    	top: 120px;
	font-family:Arial;
	font-size:10px;

}

div#Bando {
	height:143px;
	background-position: 50% 0;
}

table#Menu {
	width: 100%;
	margin-top: -6px;
}