<div class="row ">
    {% set Lien = 'equipe' %}
    <div class="col-lg-10 col-md-10 col-sm-10 borderTopContenu">
        <div class="imgArticle ">
           <img src="Skins/Vetoccitan1/Images/imageratioequipe.jpg" class="img-responsive" alt="photo-3" title="photo-3" />
        </div>
        <div class="titreImage">
          <p class="legende">Titre de l'image</p>
      </div>
      <div class="titreArticle">
          <h2>L'équipe</h2>
      </div>
      <div class="textArticle">
          <p class="texte">   Notre équipe se forme régulièrement pour s’assurer de maitriser les dernières techniques médicales et chirurgicales, et nous investissons tout au long de l’année dans la maintenance et l’achat de nouveaux matériels (laboratoire d’analyses, imagerie…)

Voici les membres de notre équipe :
         </p>
        </div>
    </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
{#         vide conforme à la maquette#}
     </div>
</div>

<div class="row ">
<div class="col-lg-10 col-md-10 col-sm-10 borderTopContenu">
        <div class="row equipe">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img src="Skins/Vetoccitan1/Images/denis_ValensiRATIO.jpg" class="img-responsive" alt="photo-1" title="photo-1"  onclick="animTeam()" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h5 style="cursor:pointer" onclick="animTeam(event)">Docteur Denis VALENSI</h5>
                <p class="textePresentation">  Vétérinaire & fondateur de la clinique </p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img src="Skins/Vetoccitan1/Images/philippe_FouchetRATIO.jpg" class="img-responsive" alt="photo-3" title="photo-3"  onclick="animTeam()" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h5 style="cursor:pointer" onclick="animTeam(event)">Docteur Philippe FOUCHET</h5>
                <p class="textePresentation">  Vétérinaire</p>
            </div>
        </div>
        <div class="row equipe">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img src="Skins/Vetoccitan1/Images/alison_Crosnier_Leconteratio.jpg" class="img-responsive" alt="photo-1" title="photo-1"  onclick="animTeam()" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h5 style="cursor:pointer" onclick="animTeam()">Docteur Alison CROSNIER LECONTE</h5>
                <p class="textePresentation">  Vétérinaire</p>
            </div>
        </div>
</div>
</div>