
{# errors #}
{% if funcTempVars.error %}<p class="error">Une erreur est survenue, veuillez vérifier votre saisie et ré-essayer.</p>{% endif %}
{# /errors #}
<div class="row">
    <div class="col-md-4">
        <label class="form-control-label" for="l0">Nouveau mot de passe souahité :</label>
        {#<small><i class="icmn-question3 help-wrapper"><span class="fieldHelp">{{ field.help }}</span></i></small>#}
    </div>
    <div class="col-md-8">
        <script>
            function pwdTogglemodPass(btn){
                $(btn).toggleClass('active');
                var input = $('#modPass');
                var type = input.attr('type');
                if(type=="password"){
                    type= 'text';
                }else{
                    type= 'password';
                }
                input.attr('type',type);
            }

        </script>
        <div class="input-group">
            <input id="modPass" type="password" class="form-control {% if funcTempVars.error %}error{% endif %}" ng-model="ParcCompteMailfunction.args.password" >
            <span class="input-group-addon" onclick="pwdTogglemodPass(this);">
                <i class="icmn-key"></i>
            </span>
        </div>
    </div>
</div>
