/**
GLOBAL

Bleu: #5ba1d3
Vert: #7eb72e
Orange: #f6a924
**/
a {
    color:#676767;
}
footer a {
    color:white;
}
a:hover{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
a:visited {

}
.row, .col-md-12{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0;
}
h3{
    font-size: 22px;
    margin-top:0;
}
.col-md-45{
    width: 300px;
    float: left;
}
.col-md-85{
    width: calc(100% - 315px);
    float: left;
    margin: 0 0 0 15px;
}
.well {
    margin: 0;
}
/**
PAGE
**/
#page{
    /*margin-top: 20px;*/
}
#page > .container{
    box-shadow: 0 0px 49px 1px rgba(0, 0, 0, 0.2);
}
/**
HEADER
**/
header{
    box-shadow: 0 0px 49px 1px rgba(0, 0, 0, 0.2);
    -webkit-background-size: cover;
    background-size: cover;
}
.header{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.4);
}
img.logo{
    box-shadow: 0 0px 49px 1px rgba(0, 0, 0, 0.4);
}
/**
FOOTER
**/
footer{
    margin-top: 20px;
    color: white;
    font-size: 12px;
}
.pharma-logos{
    margin-top: 50px;
}
/**
CARRE
**/
.carre-wrapper{
    display: inline-flex;
}
.carre{
    width: 110px;
    height: 110px;
    margin: 0;
    background: green;
    color: white;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 0px 49px 1px rgba(0, 0, 0, 0.2);
}
.carre:hover {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: -webkit-transform .9s;
    perspective: 600px;
}
.carre .fa:before{
    font-size: 3em;
}
.carre-vert{
    background-color: #7eb72e;
}
.carre-orange{
    background-color: #f6a924;
}
.carre-bleu{
    background-color: #5ba1d3;
}
/**
LIGNES
**/
.ligne-verte,.ligne-verte-clair{
    background-color: #7eb72e;
}
.ligne-orange{
    background-color: #f6a924;
}
/**
GRILLE
**/
.grid-item {
    width: 20%;
    height: 200px;
    padding: 1px;
    color: white;
    background-size: cover;
}
a.grid-item:hover {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: -webkit-transform .9s;
    perspective: 600px;
}
.grid-item--width2 {
    height: 200px;
    width: 40%;
}
.grid-text-right{
    font-size: 20px;
    text-align: right;
    padding: 20px;
}
.grid-text-left{
    font-size: 14px;
    text-align: left;
    padding: 20px;
}
/**
LIGNE ICONES
**/
.ligne-icone{
    width: 25%;
    height: 300px;
    color: white;
    text-align: center;
    padding: 30px 15px 15px 15px;
    font-size: 14px;
}
.ligne-icone .fa:before{
    font-size: 6em;
}
.ligne-marge{
    margin-top: 20px;
    margin-bottom: 20px;
}
/**
BLOCS
**/
.block{
    width: 100%;
    background-color: #F6F6F6;
}
.title_block{
    display: block;
    background-color: #5ba1d3;
    line-height: 50px;
    padding: 10px;
    color: white;
    margin-bottom: 0;
}
.title_block a{
    color: white;
}
.block_content{
    padding: 20px;
}
/**
BUTTONS
**/
.btn-default {
    color: #FB9529;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #7eb72e;
    border-color: #7eb72e;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-default .badge {
    color: #FFFFFF;
    background-color: #FB9529;
}

.btn-white {
    color: #FB9529;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 0;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: #ffffff;
    background-color: #7eb72e;
    border-color: #7eb72e;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-white .badge {
    color: #FFFFFF;
    background-color: #FB9529;
}

.btn-warning {
    color: #FFFFFF;
    background-color: #f6a924;
    border-color: #f6a924;
    background-image: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
    background-color: #ffa539;
    border-color: #ffa539;
}
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f6a924;
    border-color: #f6a924;
}

.btn-success {
    background-color: #7eb72e;
    border-color: #7eb72e;
    background-image: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    background-color: #7eb72e;
    border-color: #7eb72e;
}
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #5ba1d3;
    border-color:#5ba1d3;
}

.btn-primary {
    background-color: #7eb72e;
    border-color: #7eb72e;
    background-image: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #5ba1d3;
    border-color: #5ba1d3;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #7eb72e;
    border-color:#7eb72e;
}

/**
LISTE PRODUIT
**/
.sortPagiBar{
    background-color: #e0e0e0;
    margin-bottom: 20px;
}
.pagePagiBar{
    background-color: #e0e0e0;
    margin-bottom: 0px;
    padding: 10px;

}
.pagePagiBar a{
    color: #676767;
}
.sortPagiBar .form-group {
    margin-bottom: 0;
}
.p-item span.new {
    background: url("../Img/icon-new.png") no-repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    padding: 15px 0;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 45px;
}
.center_block{
    text-align: center;
    background-color: white;
    min-height: 200px;
    
}
.p-item{
    padding: 20px;
}
.price{
    font-size: 22px;
    font-weight: 400;
    color: #f6a924;
}
.availability{
    font-size: 12px;
    color: #fd8c14;
}

/**
PRODUITS
**/
h3.s_title_block a {
    color: #676767;
    font-size: 14px;
}
.product-container .right_block{
    text-align: center;
}
/**
BLOCKS
**/
.block_content a.btn {
    color: white;
}
.block_content a {
    color: #676767;
}
.contenttop .title_block {
    background-color: #7eb72e;
    color: white;
}
/**
BREADCRUMB
**/
.breadcrumb {
    background-color: #F6F6F6;
    border-radius: 0;
}
ul.breadcrumb li a {
    color: #676767;
}
/**
NAVIGATION
**/
ul.navigation{
    padding:0px 0px;
}
ul.navigation li{
    list-style-type: none;
}
ul.navigation li a {
    color: #676767;
    display: block;
    padding: 2px 5px;
}
ul.navigation li a:hover {
    color: #f4f4f4;
    background-color: #f6a924;
}
ul.navigation li a.selected {
    color: #f4f4f4;
    background-color: #7eb72e;
}
ul.navigation ul {
    padding-left:20px;
}

/**
CAROUSEL
**/
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

/**
ETAPE COMMANDE
**/
.EtapesCommande{
    margin: 10px;
}
.QteInput{
    width: 50px;
}

/**
FORM
**/
.error{
    background-color: #f2dede;
    color: #b94a48;
}

/**
MON COMPTE
**/
.Icons, .Icons h3{
    text-align: center;
    display: block;
}
.Icons .fa{
    font-size: 9em;
}
a.Icons:hover{
    background-color:#6cec90 ;
}
.Adresse{
    width: 100%;
}
/**
MENU
*/
.orange ul.level0 >li > a {
    background-color:#f6a924;
}
.vert ul.level0 >li > a {
    background-color:#6cec90;
}
.vert-fonce ul.level0 >li > a {
    background-color:#7eb72e;
}
.bleu ul.level0 >li > a {
    background-color:#5ba1d3;
}

/**
BLOG
**/
.FichPost{
    margin: 20px;
}
.Post{
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .col-md-45,.col-md-85{
        width: 100%;
    }
}

/**
FICHE PRODUIT
**/
.nav-tabs>li>a {
    color: #fff;
    padding: 10px 20px;
    background-color: #f6a924;
    border: 1px solid #f6a924;
    border-bottom-color: transparent;
}
.tab-content>.tab-pane {
    padding: 20px;
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #f6a924;
}
#primary_block{
    margin: 20px;
}

#page>.container{
    background-color: rgba(255,255,255,0.80);
}