<div class="page-content-inner">

    <!-- Dashboard -->
    <div class="dashboard-container">
        <div class="row">
            <a class="col-xl-3 col-lg-6 col-sm-6 col-xs-12"  href="#/Infrastructure/Tickets">
                <div class="widget widget-seven background-primary">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">Mes tickets opérationnels</h5>
                            <i class="counter-icon icmn-newspaper"></i>
                            <span class="counter-count">
                                <i class="icmn-arrow-up5"></i>
                                <span class="counter-init" data-from="0" data-to="{{ NbMyTickets }}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="widget widget-seven background-danger">
                    <div class="carousel-widget carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="widget-body" target="_blank">
                                    <a href="/zabbix/" target="_blank" >
                                        <h2 style="font-size:1.5rem">
                                            <i class="icmn-books"></i> Zabbix ALS
                                        </h2>
                                    </a>
                                    <a href="/zabbix_old/" target="_blank">
                                        <h2 style="font-size:1.5rem">
                                            <i class="icmn-books"></i> Zabbix Routeurs
                                        </h2>
                                    </a>
                                    <a href="/zabbix_web/" target="_blank">
                                        <h2 style="font-size:1.5rem">
                                            <i class="icmn-books"></i> Zabbix Web
                                        </h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" href="#/Infrastructure/Peripheriques">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">Périphériques</h5>
                            <i class="counter-icon icmn-users"></i>
                            <span class="counter-count">
                                <i class="icmn-arrow-up5"></i>
                                <span class="counter-init" data-from="0" data-to="{{ NbDevices }}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="widget widget-seven background-warning">
                    <div class="carousel-widget carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="/remote/" class="widget-body" target="_blank">
                                    <h2>
                                        <i class="icmn-download"></i> Guacamole
                                    </h2>
                                    <p>
                                        Cliquez ici pour accéder à guacamole.<br />

                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-6">
                <div class="widget widget-three">
                    <iframe style="border:0;" src="https://proxy.abtel.fr/grafana/d/000000003/firewalls-proxies" width="100%" height="500"></iframe>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="widget widget-three">
                    <iframe style="border:0;" src="https://proxy.abtel.fr/grafana/d/000000015/als-postes-et-serveurs" width="100%" height="500"></iframe>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="widget widget-three">
                    <iframe style="border:0;" src="https://proxy.abtel.fr/grafana/d/JqDPsZlZk/alertes-web" width="100%" height="500"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">

            </div>
            <div class="col-xl-3">
                <div class="widget widget-seven background-info" style="background-image: url(/Skins/AngularAdmin/assets/common/img/temp/photos/9.jpeg)">
                    <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="/grafana/" class="widget-body" target="_blank">
                                    <h2>Grafana</h2>
                                    <p>
                                        Cliquez ici pour accéder à grafana
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="col-xl-3">
                <div class="widget widget-seven">
                    <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="http://tools.abtel.fr/phpldapadmin" class="widget-body" target="_blank">
                                    <h2>
                                        <i class="icmn-database"></i> Phpldapadmin
                                    </h2>
                                    <p>
                                        CLiquez ici pour accéder à phpldapadmin.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="widget widget-seven">
                    <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="http://tools.abtel.fr/phpmyadmin/" class="widget-body" target="_blank">
                                    <h2>
                                        <i class="icmn-database"></i> Phpmyadmin
                                    </h2>
                                    <p>
                                        Cliquez ici pour accéderà phpmyadmin
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Dashboard -->

</div>


<!-- Page Scripts -->
<script>
    $(function() {

        ///////////////////////////////////////////////////////////
        // COUNTERS
        $('.counter-init').countTo({
            speed: 1500
        });

        ///////////////////////////////////////////////////////////
        // ADJUSTABLE TEXTAREA
        autosize($('#textarea'));

        ///////////////////////////////////////////////////////////
        // CUSTOM SCROLL
        if (!cleanUI.hasTouch) {
            $('.custom-scroll').each(function() {
                $(this).jScrollPane({
                    autoReinitialise: true,
                    autoReinitialiseDelay: 100
                });
                var api = $(this).data('jsp'),
                    throttleTimeout;
                $(window).bind('resize', function() {
                    if (!throttleTimeout) {
                        throttleTimeout = setTimeout(function() {
                            api.reinitialise();
                            throttleTimeout = null;
                        }, 50);
                    }
                });
            });
        }

        ///////////////////////////////////////////////////////////
        // CALENDAR
        $('.example-calendar-block').fullCalendar({
            //aspectRatio: 2,
            height: 450,
            header: {
                left: 'prev, next',
                center: 'title',
                right: 'month, agendaWeek, agendaDay'
            },
            buttonIcons: {
                prev: 'none fa fa-arrow-left',
                next: 'none fa fa-arrow-right',
                prevYear: 'none fa fa-arrow-left',
                nextYear: 'none fa fa-arrow-right'
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            viewRender: function(view, element) {
                if (!cleanUI.hasTouch) {
                    $('.fc-scroller').jScrollPane({
                        autoReinitialise: true,
                        autoReinitialiseDelay: 100
                    });
                }
            },
            defaultDate: '2017-04-26',
            events: [
            ],
            eventClick: function(calEvent, jsEvent, view) {
                if (!$(this).hasClass('event-clicked')) {
                    $('.fc-event').removeClass('event-clicked');
                    $(this).addClass('event-clicked');
                }
            }
        });

        ///////////////////////////////////////////////////////////
        // CAROUSEL WIDGET
        $('.carousel-widget').carousel({
            interval: 4000
        });

        $('.carousel-widget-2').carousel({
            interval: 6000
        });

        ///////////////////////////////////////////////////////////
        // DATATABLES
        $('#example1').DataTable({
            responsive: true,
            "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]]
        });

//        ///////////////////////////////////////////////////////////
//        // CHART 1
//        new Chartist.Line(".chart-line", {
//            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
//            series: [
//                [12, 9, 7, 8, 5],
//                [2, 1, 3.5, 7, 3],
//                [1, 3, 4, 5, 6]
//            ]
//        }, {
//            fullWidth: !0,
//            chartPadding: {
//                right: 40
//            },
//            plugins: [
//                Chartist.plugins.tooltip()
//            ]
//        });
//
//        ///////////////////////////////////////////////////////////
//        // CHART 2
//        var overlappingData = {
//                labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
//                series: [
//                    [5, 4, 3, 7, 5, 10, 3, 4, 8, 10, 6, 8],
//                    [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4]
//                ]
//            },
//            overlappingOptions = {
//                seriesBarDistance: 10,
//                plugins: [
//                    Chartist.plugins.tooltip()
//                ]
//            },
//            overlappingResponsiveOptions = [
//                ["", {
//                    seriesBarDistance: 5,
//                    axisX: {
//                        labelInterpolationFnc: function(value) {
//                            return value[0]
//                        }
//                    }
//                }]
//            ];
//
//        new Chartist.Bar(".chart-overlapping-bar", overlappingData, overlappingOptions, overlappingResponsiveOptions);


    });
</script>
<!-- End Page Scripts -->