
/**************************************************************

	MultiBox
	v1.1

**************************************************************/

.MultiBoxContainer {
	position: absolute;
	border: 10px solid #1E1E1E;
	background-color: #1E1E1E;
	display: none;
	z-index: 200;
}

/*.MultiBoxContainer  img {
	z-index:210;
}*/
.MultiBoxLoading {
	background: url(/Skins/ArtfxNew/Img/MultiBox/loader.gif) no-repeat center;
}

.MultiBoxContent {
	display:block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index:900;
}

.MultiBoxContent img{
	display:block;
	z-index:900;
}



.MultiBoxClose {
	position: absolute;
	top: -26px;
	right:-10px;
	background: url(/Skins/ArtfxNew/Img/Pages/BoutonFermer.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.MultiBoxClose:hover {
	position: absolute;
	top: -26px;
	right:-10px;
	background: url(/Skins/ArtfxNew/Img/Pages/BoutonFermerOver.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}


.MultiBoxControlsContainer {
	overflow: hidden;
	height: 0px;
	position: relative;
}

.MultiBoxControls {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #1E1E1E;
}


.MultiBoxPrevious {
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/Skins/ArtfxNew/Img/Pages/PagePrec.png');
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 10px;
	cursor: pointer;
	z-index:250;
}

.MultiBoxPrevious {
	background: url(/Skins/ArtfxNew/Img/Pages/PagePrec.png) no-repeat;

}

.MultiBoxPrevious:hover {
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/Skins/ArtfxNew/Img/Pages/PagePrecOver.png');
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 10px;
	cursor: pointer;
	z-index:250;
}

.MultiBoxPrevious:hover {
	background: url(/Skins/ArtfxNew/Img/Pages/PagePrecOver.png) no-repeat;

}

.MultiBoxNext {
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/Skins/ArtfxNew/Img/Pages/PageSuiv.png');
	width: 24px;
	height: 24px;
	
	right: 0;
	margin-top: 10px;
	cursor: pointer;
	z-index:250;
}

.MultiBoxNext {
	background: url(/Skins/ArtfxNew/Img/Pages/PageSuiv.png) no-repeat;
}

.MultiBoxNext:hover {
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/Skins/ArtfxNew/Img/Pages/PageSuivOver.png');
	width: 24px;
	height: 24px;
	/*right: -12px;*/
	margin-top: 10px;
	cursor: pointer;
	z-index:250;
}

.MultiBoxNext:hover {
	background: url(/Skins/ArtfxNew/Img/Pages/PageSuivOver.png) no-repeat;
}

.MultiBoxNextDisabled {
	position: absolute;
	cursor: default;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/Skins/ArtfxNew/Img/Pages/PageSuivOver.png');
	width: 24px;
	height: 24px;
	right: -12px;
	margin-top: 10px;
	z-index:300;
}

.MultiBoxNextDisabled {
	cursor: default;
	background: url(/Skins/ArtfxNew/Img/Pages/PageSuivOver.png) no-repeat;
}

.MultiBoxPreviousDisabled {
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/Skins/ArtfxNew/Img/Pages/PagePrecOver.png');
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 10px;
	cursor: default;
	z-index:300;
}

.MultiBoxPreviousDisabled {
	cursor: default;
	background: url(/Skins/ArtfxNew/Img/Pages/PagePrecOver.png) no-repeat;
}

.MultiBoxTitle {
	display:block;
	position: relative;
	/*margin: 30px 0 0 35px;
	float: left;*/
	margin:0;
	padding:25px 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFBB00;
	/*font-weight: bold;*/
	text-align: center;
	/*background-color:red;*/
	width:100%;
}

.MultiBoxNumber {
	position: relative;
	/*width: 50px;
	margin: 10px 35px 0 0;*/
	width:100%;
	float: right;
	margin:0;
	margin:10px 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: center;
}

.MultiBoxDescription {
	clear: left;
	position: relative;
	margin: 0 35px 0 35px;
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: left;
}

.tumblr {
color:#000;position:absolute;top:-200px;text-decoration:none;outline:0;
}

/*************************************************************/

