@import "slimbox.css";
@import "Formulaire.css";
@import "bbcode.css";
@import "Structure.css";
@import "Droite.css";
@import "Footer.css";
@import "Pagination.css";
@import "Post.css";
@import "Categorie.css";
@import "Menu.css";
@import "BlocArrondi.css";
@import "multibox.css";

*{
	font-family:Arial,Verdana,Helvetica,sans-serif;
	color:#FFFFFF;
	font-size:12px;
	word-spacing:2px;
	margin:0;
	padding:0;
}

body{
	width:100%;
	background:url(/Skins/ArtfxBlog/Img/Fond.jpg) no-repeat 50% 0 #000;
	border:0;
	
}

* html body{
	width:100%;
	text-align:center;/* = margin-auto pour IE */
	margin:0;
	padding:0;
}

* html html {overflow-x:auto; overflow-y:hidden;}


img{	
	border:0;
	outline:0;
}

* html img{	
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

a, a:visited, a:hover, a:active{
	cursor:pointer;
	outline:0;
}

* html a{
	margin:0;
	padding:0;
}

h1{
	color:#FFBB00;
	font-size:22px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px dashed #574513;
	font-weight:normal;
	font-family:georgia,times,Arial,Verdana,serif;
}

h1 a, h1 a:visited {
	color:#FFBB00;
	font-size:22px;
	font-family:georgia,times,Arial,Verdana,serif;
	text-decoration:none;
}

h1 a:hover, h1 a:active {
	color:#B2B2B2;
}


h2{
	font-size:18px;
	color:#FFBB00;
	margin-bottom:10px;
	font-weight:normal;
	font-family:georgia,times,Arial,Verdana,serif;
	padding-bottom:5px;
	border-bottom:1px dashed #232323;
}


h2 a, h2 a:visited {
	font-size:18px;
	color:#FFBB00;
	font-weight:normal;
	font-family:georgia,times,Arial,Verdana,serif;
	padding-bottom:5px;
	text-decoration:none;
}

h2 a:hover, h2 a:active {
	color:#B2B2B2;
	text-decoration:line-through;
}

h3{
	font-size:17px;
	margin-bottom:5px;
	margin-top:5px;
	font-weight:normal;
	font-family:georgia,times,Arial,Verdana,serif;
}

h4{
	font-size:14px;
	margin-left:40px;
	margin-top:10px;	
}

h5{
	
}

p{
	text-indent:0px;
	font-weight:normal;
	line-height:14px;
	display:block;
/* 	text-align:justify; */
}

.FLeft{
	float:left;
}

.FRight{
	float:right;
}

.Clear {
	clear:both;
}

.Bold{
	font-weight:bold;
	color:#FFBB00;
}

.Italic{
	font-style:italic;
	font-size:10px;
	margin-top:10px;
}

input, textarea{
	border:none;
	color:#000;
}

* html input, * html ul, * html li{
	margin:0;
	padding:0;
}

input[type=radio]{
	width:auto;
	border:none;
}

input[type=checkbox]{
	width:13px;
}

li{
	list-style:none;
}