# Created by .ignore support plugin (hsz.mobi)
Home/*
!Home/no-image.png
Log/*
Class/Utils/Utils.extend.php
Conf/General.conf
.idea/*
Data/*
Modules/Parc/Parc.conf
/nbproject/private/
/Skins/AngularAdmin/assets/vendors/bootstrap/dist/jboots.zip
/Skins/AngularAdmin/img/nimesmetropole.png
