/*** ESPACE EN HAUT ***/
div#userEspace {
	float: right;
	position:relative;
	display: block;
	padding-top:1px;
}

div.user {
  display: block;
    margin: 20px 20px 40px;
    overflow: hidden;
    position: relative;
}

/** FOMRULAIRES **/
div.user fieldset {
	margin-top: 10px;
	border: 1px solid #01accf;
	background:none;
	display:block;
}

div.user div.LigneForm {
	padding: 1px;
 	width: 68%;
	display: block;
    	overflow: hidden;
}


div.user label {
	width: 175px;
	padding: 4px 10px;
}

div.user input, div.user textarea, div.user select {
	border: 1px solid #C4BEA0;
    	font-size: 10px;
    	height: 12px;
    	margin-left: 10px;
    	width: 250px;
	float:right;
	margin-bottom:5px;
}
div.user input.Connexion {
    	background: url("../Img/sprite.png") no-repeat scroll 0 -3962px transparent;
    	border: medium none;
    	display: block;
    	height: 38px;
    	margin-right: -19px;
	text-indent: -999px;
	font-size:0;
	line-height:0;
    	width:192px;
float:none;
margin:20px auto auto;	
}
div.user input.Connexion:hover {
	background-position:0 -3925px;
}

	
div.user input.cree_compte {
	width: 173px;
}

div.user input.identifiervous {
	width: 105px;
}

div.user input.mettreajour {
	width: 102px;
}

div.user textarea {
	overflow: auto;
    	height: 45px;

}

div.user select {
	width: 251px;
	height:15px;
}

/** ADRESSES **/
div.Adresse {
	margin: 10px;
	border: 1px solid #01accf;
	padding: 20px;
	overflow: hidden;
}

a.ModifierAdresse {
	display: block;
	text-align: right;
}

div.buttons {
	text-align: center;
}


 /*div.user input.Retour {
   	background: url("../Img/sprite.png") no-repeat scroll 0 -3962px transparent;
    	border: medium none;
    	display: block;
    	height: 38px;
    	margin-right: -19px;
	text-indent: -999px;
	font-size:0;
	line-height:0;
    	width:192px;
float:none;
margin:20px auto auto;	
}
div.user input.Retour:hover {
	background-position:0 -3925px;
}*/
div.user input.Valider {
    	background: url("../Img/sprite.png") no-repeat scroll 0 -4272px transparent;
    	border: medium none;
    	display: block;
    	height: 35px;
	text-indent: -999px;
	font-size:0;
	line-height:0;
    	width: 100px;
}
div.user input.Valider:hover {
	background-position:0 -4307px;
}
div.user input.Retour {
    	background: url("../Img/sprite.png") no-repeat scroll -258px -4307px transparent;
    	border: medium none;
    	display: block;
    	height: 35px;
	text-indent: -999px;
	font-size:0;
	line-height:0;
    	width: 100px;
}
div.user input.Retour:hover {
	background-position:-258px -4272px ;
}