/* block top search */
.block-search-top{
}
.block-search-top .icon-search{display: none;
}
.block-search-top #search_block_top{
}
.block-search-top:hover  #search_block_top{
	
}
#search_block_top form p{margin:0;padding: 0}
#search_block_top form{margin:0;padding: 0}
#search_block_top .search-input{position: relative; overflow: hidden; width: 28px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;}
#search_block_top .search-input:hover{position: relative; overflow: hidden; width: 232px}
#search_block_top .home-search{position: absolute; left: 0; background: none; border: none; line-height: 40px; box-shadow: none}
#search_block_top input.search_query{}
#header_right #search_block_top p { padding: 0}
#header_right #search_block_top label, #header_right #search_block_top input {float: left;}
#header_right #search_block_top input.button {
	background: url("icon-search.png") no-repeat scroll center center #F46553;
    border: medium none;
    text-indent: -9999em;
    width: 35px;
}
#header_right #search_block_top label {
	display: none;
}
#header_right #search_block_top input.search_query { width: 180px;    padding-left: 10px;line-height: 1.3; }
/* block left column "Quick search" */
#search_block_left input { margin: 2px 0 0 0 }
#search_block_left .search_query { width: 11em }
#search_button { display: inline }