@charset "utf-8";

#toolspanelcontent{
	width:200px
}
#toolspanelcontent > div:hover {
	color:#285151
}
#toolspanelcontent #bottombox input{
}
#toolspanelcontent #bottombox a{
}
#toolspanelcontent #bottombox input[type="submit"]{}

#toolspanel select{width: 90%;}
#toolspanel {
	position:fixed;
	top:100px;
	left:0;
	background:red;
	z-index:999;
	*height:0;
}
#toolspanelcontent {
	position:fixed;
	top:100px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 0 0 3px #cecece;
	-moz-box-shadow: 0 0 3px #cecece;
	box-shadow: 0 0 3px #cecece;
	background: #fff;
	color: #000;
	font-size: 90%;
	z-index: 999;
	border-bottom: 1px solid #DBDDD8;
	border-right: 1px solid #DBDDD8;
	border-top: 1px solid #DBDDD8;
}
#toolspanelcontent > div {
	padding:12px
}
#toolspanel .pn-button.close{
	filter: alpha(opacity=100);
	opacity: 1;
}
#toolspanel .pn-button {
	cursor: pointer;
	right:-38px;
	height:20px;
	width:14px;
	position: absolute;
	top: 86px;
	z-index: 999;
	border-bottom: 1px solid #DBDDD8;
	border-right: 1px solid #DBDDD8;
	border-top: 1px solid #DBDDD8;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 3px 0 4px #cecece;
	-moz-box-shadow: 3px 0 4px #cecece;
	box-shadow: 3px 0 4px #cecece;
	background: #fff;
}
#toolspanel .pn-button {
	background: url("icon.png") no-repeat scroll 12px 13px #FFFFFF;
}
#toolspanel .open {
	background: url("icon.png") no-repeat scroll 12px -27px #FFFFFF;
}
#pnpartterns a {
	border: 1px solid #BBBBBB;
	display: block;
	float: left;
	height: 6px;
	margin: 0 5px 5px 0;
	padding: 6px;
	width: 6px;
}
#pnpartterns a.active{ border-color:red; -moz-transition:border-color 0.8s}
#toolspanel a:hover,
#toolspanel a:active,
#toolspanel a:focus{color: #000;}
