{#<input type="text" name="search" class="input-css34" v-model="search" placeholder="Recherche" value="{{ search }}"/>#}
{#<input type="date" name="date" class="input-css34" v-model="appDate" value="{{ appDate }}"/>#}
<vuejs-datepicker :language="dpfr" v-model="appDate" name="appDate" :input-class="'input-css34'" :placeholder="'Date'"></vuejs-datepicker>
{#<input type="submit" name="valid" class="submit-css34" value="recherche"/>#}
<!--<button type="submit" name="valid" class="submit-css34" v-on:click.prevent="refreshIsotope()">refresh isotope</button>-->
