
<div>
    {% if bloc.Lien is not empty  %}
    <a href="{{ bloc.Lien }}" >
        {%  endif %}
        <h3>{{ bloc.Titre }}</h3>
        {% if bloc.Lien is not empty  %}
    </a>
    {%  endif %}
    <div>{{ bloc.Text | raw}}</div>

</div>