body{
//    background-image: url(/Skins/TennisLogin/Img/Fond.jpg);
    background-size: cover;
    color: #666;

}

.modal-header-logo {border-radius: 5px;height: 80px; background: url('/Skins/LoginCadref/Img/Logo.jpg') top left no-repeat; background-position-x: center }
.modal-footer {   border-top: 0px; }
.modal-header {border:0;}
@media screen and (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 0px 64px rgba(0,0,0,0.3);
    }
}

.btn-primary {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#02a6e3),to(#0088b0));
    background-image: -webkit-linear-gradient(top,#02a6e3 0,#0088b0 100%);
    background-image: -moz-linear-gradient(top,#02a6e3 0,#0088b0 100%);
    background-image: linear-gradient(to bottom,#02a6e3 0,#0088b0 100%);
    background-repeat: repeat-x;
    border-color: #02a6e3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff02a6e3',endColorstr='#ff0088b0',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 550px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

.modal-content {
    background-color: #eeeeee;
}
.form-group {
    margin-bottom: 15px;
    overflow: hidden;
}
h1 { font: normal 50px/50px Arial, Helvetica, sans-serif;  color:#005a84; margin-top:8px; margin-bottom:8px;}
h2 { font: normal 34px/34px Arial, Helvetica, sans-serif;  color:#005a84; margin-top:1px; margin-bottom:5px;}
h3 { font: normal 16px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#005a84; margin-top:8px; margin-bottom:5px;}
h4 { font: normal 12px/12px Arial, Helvetica, sans-serif;  color:#333333; margin-top:8px; margin-bottom:5px;}
h5 { font: normal 19px/19px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#005a84; margin-top:8px; margin-bottom:5px;}
h6 { font: italic 12px/18px Ubuntu;  color:#005a84; margin-top:8px; margin-bottom:5px;}
body { font-weight: normal;}

.masque {
	display: none;
}
.masque.actif {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}

.input-cadref {
	height: 40px;
    padding: 5px 8px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-cadref {
    padding: 7px 8px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.cadref-body {
	position: relative;
    padding: 10px;
}

.cadref-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 100%;
}
.cadref-header {
	height: 100px;
	background-color:#eeeeee;
}
.cadref-name {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cadref-title {
	font-family: Arial;
	font-size: 34px;
	line-height: 34px;
	color: black;
}
.cadref-modal-body {
	padding-top: 0;
}
.cadref-modal-header {
	padding-left: 50px;
	padding-right: 50px;
}

@media screen and (max-width: 991px) {
	.cadref-name {
		text-align: center;
	}
	.cadref-header-name {
		height: 45px;
	}
}

.cadref-label.obligatoire {
	color: red;
}
