<div class="form-group row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" name="salleSelectSearch" ng-model="StatsSalles.searchTermsalle"  placeholder="Recherche..." >
            {#<span class="input-group-btn">
                <a href="javascript: void(0);" class="btn btn-success" ng-click="{{ identifier }}Select.store.refresh('{{ context }}')">
                    Rafraîchir
                </a>
            </span>#}
        </div>
    </div>
    <div class="col-md-6">
        <dir-pagination-controls boundary-links="true" pagination-context="select" pagination-id="salleSelect-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
<table class="table table-hover nowrap margin-bottom-0" id="salleSelect" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Label</th>
        <th width="50">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in filteredSalles | itemsPerPage: 20" current-page="StatsSalles.currentPageSalle" pagination-id="salleSelect-pagination" auto-load="false">
        <td><span class="label label-warning">{[{ item.Id }]}</span></td>
        <td scope="row">
            <span ng-bind-html="item.Nom"></span>
        </td>
        <td width="170" style="width:170px;">
            <switch id="switch_{[{ item.Id }]}" name="enabled" checklist-model="StatsSalles.args.salle" checklist-value="item.Id" class="green"></switch>
        </td>
    </tr>
    </tbody>
</table>
