<div ng-controller="InfraAdminMenuTopCtrl">
    <div id="infra_info" ng-bind-html="quickview" class="{[{ viewClass }]} {[{ display? 'showMap' : 'hideMap' }]}" ></div>
    <div id="infra_map"  class="{[{ display? 'showMap' : 'hideMap' }]}" ></div>
</div>