body {
    font-family: 'Catamaran', sans-serif;
}


/**
STRUCTURE
**/
/*#map{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/Skins/EPConsulting/Img/map.jpg);
    background-position: center center;
}*/
#contenu{

}