#Pied ul{
	list-style-type:none;
	margin-left:0;
}

#Pied li{
	display:block;
	float:left;
	padding:5px 5px 0 5px;
	border-right:1px solid #000;
}

#Pied p{
	margin-top:10px;
	margin-left:5px;
}

#Pied a, #Pied a:visited{
	text-decoration:none;
}

#Pied a:hover{
	text-decoration:underline;
}