*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    color: #eee;
    text-shadow: 0 -1px 0 rgba( 255, 255, 255, .6 );
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    overflow: auto;
    margin-left: 300px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

#viewport {
    -webkit-perspective: 1000;
    -moz-perspective: 1000px;
    -o-perspective: 1000;
    perspective: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-image: linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
    background-image: -o-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
    background-image: -moz-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
    background-image: -webkit-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
    background-image: -ms-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.28, rgb(69,132,180)),
            color-stop(0.64, rgb(31,71,120))
    );
}

#world {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -256px;
    height: 512px;
    width: 512px;
//border: 1px solid rgb( 255, 0, 0 );
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;
}

#world div {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cloudBase {
//border: 1px solid #ff00ff;
    position: absolute;
    left: 256px;
    top: 256px;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}

.cloudLayer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 256px;
    height: 256px;
    margin-left: -128px;
    margin-top: -128px;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
/************************************************
STRUCTURE
*************************************************/
h3 a{
    color: white;
    font-size: 18px;
}
.header h3{
    margin: 10px;
}
#left-column{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
}
/*#main{
    position: fixed;
    top: 350px;
    left: 300px;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,1);
}*/
/************************************************
ANIMATIONS
 ************************************************/
@keyframes initHeader{
    0% {
        margin-top: -500px;
    }
    75% {
        margin-top: -500px;
    }
    100% {
        margin-top: 0;
    }
}
.header.init{
    animation-name: initHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 5s;
}
/** leftColumn **/
@keyframes initLeftColumn{
    0% {
        left: -300px;
    }
    80% {
        left: -300px;
    }
    100% {
        left: 0px;
    }
}
#left-column.init{
    animation-name: initLeftColumn;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 5s;
}
/** main **/
@keyframes initMain{
    0% {
        margin-top: 100%;
    }
    90% {
        margin-top: 100%;
    }
    100% {
        margin-top: 0%;
    }
}
#main.init{
    animation-name: initMain;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 5s;
}
/** box **/
@keyframes initBox{
    0% {
        -webkit-transform: translateZ( -10000px ) rotateY( 90deg ) rotateX( 180deg );
        -moz-transform: translateZ( -10000px ) rotateY( 90deg ) rotateX( 180deg );
        -o-transform: translateZ( -10000px ) rotateY( 90deg ) rotateX( 180deg );
        transform: translateZ( -10000px ) rotateY( 90deg ) rotateX( 180deg );

    }
    25% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(  0px );
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(  0px );
        -o-transform: rotateY(0deg) rotateX(0deg) translateZ(  0px );
        transform: rotateY(0deg) rotateX(0deg) translateZ(  0px );
    }
    75% {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
/************************************************
WEBSITE
 ************************************************/
a {
    color: #428bca;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: none;
}
.container{
    position: relative;
    margin-top: 20px;
}
.header{
    min-height: 75px;
    margin: 0;
}
.body{
    min-height: 450px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.footer{
    min-height: 135px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover {
     color: #fefefe;
     font-size: 14px;
     font-weight: 600;
 }
@media (min-width: 768px) {
    .navbar-header {
        float: right;
    }
    .btn.btn-navbar{
        display: none;
    }
}
.line-header{
    line-height: 40px;
}
.line-header h3 {
    margin-bottom: -10px;
}
.text-right{text-align: right}

.barreblanche {
    background-color: rgba(255,255,255,0.75);
    background-image: none;
    border-bottom: 0;
    color: #231f20;
    margin-top: 350px;
    position: relative;
    min-height: 50px;
    padding: 1px 0 14px 0;
}

/************************************************
 COULEURS
 ************************************************/
.white-transparent {
    background-color: rgba(255,255,255,0.75);
    color: #231f20;
}
.black-plain {
    background-color: rgba(0,0,0,0.75);
    color: #white;
}
.black-transparent {
    background-color: rgba(0,0,0,0.35);
    color: #white;
}
.white-plain {
    background-color: rgba(255,255,255,1);
    color: #231f20;
}
/************************************************
 LOGO FLIP
 ************************************************/

.logo-container.init{
    animation-fill-mode: forwards;
    animation-name: initContainer;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 5s;
}


/* proxy range */

.proxy-range {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 200px;
    border: 1px solid hsla( 0, 0%, 0%, 0.15 );
    background-color: hsla( 0, 0%, 0%, 0.02 );
    border-radius: 15px;
    box-shadow: inset 0 1px 7px hsla( 0, 0%, 0%, 0.3 );
}

.proxy-range.highlighted {
    background-color: hsla( 220, 90%, 50%, 0.15 );
}

.proxy-range .handle {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    position: absolute;
    top: -5px;
    left: -20px;
    background-color: hsla( 220, 70%, 60%, 1.0 );
    background-image: -webkit-gradient(radial, center 15%, 0, center 30%, 30,
    from(            hsla( 0, 0%, 100%, 0.6 ) ),
    color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ),
    color-stop( 50%, hsla( 0, 0%,   0%, 0.0 ) ),
    to(              hsla( 0, 0%,   0%, 0.5 ) )
    );
    background-image: -moz-radial-gradient(center 30%, cover,
    hsla( 0, 0%, 100%, 0.5 ),
    hsla( 0, 0%, 100%, 0.0 ) 50%,
    hsla( 0, 0%,   0%, 0.0 ) 50%,
    hsla( 0, 0%,   0%, 0.5 )
    );
    box-shadow:
    0  2px 0px -1px hsla( 0, 0%, 100%, 0.7 ) inset,
    0 -4px 2px -1px hsla( 0, 0%,   0%, 0.1 ) inset,
    0  1px 2px  0px hsla( 0, 0%,   0%, 0.3 )
;
    -webkit-transition-property: width, height, top, left, -webkit-border-radius;
    -moz-transition-property: width, height, top, left, -moz-border-radius;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}

.proxy-range.highlighted .handle {
    height: 98px;
    top: -35px;
    width: 4px;
    left: -3px;
    background-image: -webkit-gradient(linear, 0 top, 0 bottom,
    from(            hsla( 0, 0%, 100%, 0.6 ) ),
    color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ),
    color-stop( 50%, hsla( 0, 0%,   0%, 0.0 ) ),
    to(              hsla( 0, 0%,   0%, 0.5 ) )
    );
    border-radius: 3px;
}




.logo-container {
    width: 300px;
    height: 300px;
    position: absolute;
    /*margin: -150px 0 0 -150px;*/
    top: 0;
    margin-top: 0;
    left: 0;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

#box {
    width: 100%;
    height: 100%;
    position: absolute;



    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#box figure {
    display: block;
    position: absolute;
    /*border: 2px solid black;*/
    line-height: 300px;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    color: white;
}

#box.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#box .front,
#box .back {
    width: 300px;
    height: 300px;
}

#box .right,
#box .left {
    width: 6px;
    height: 300px;
    left: 150px;
}

#box .top,
#box .bottom {
    width: 300px;
    height: 6px;
    top: 3px;
    line-height: 3px;
}


#box .front  { background: url(/Skins/Eng.Systems/Img/render-backside.png);  background-size: contain; }
#box .back   { background: url(/Skins/Eng.Systems/Img/render-side.png);   background-size: contain;}
#box .right   { background: url(/Skins/Eng.Systems/Img/render-border.png);   background-repeat: repeat-y;}
#box .left   { background: url(/Skins/Eng.Systems/Img/render-border.png);   background-repeat: repeat-y;}
#box .top   { background: url(/Skins/Eng.Systems/Img/render-border-rotate.png);   background-repeat: repeat-x;}
#box .bottom   { background: url(/Skins/Eng.Systems/Img/render-border-rotate.png);   background-repeat: repeat-x;}

/**#box .front  { background: hsla( 000, 100%, 50%, 0.7 ); }
#box .back   { background: hsla( 160, 100%, 50%, 0.7 ); }
#box .right  { background: hsla( 120, 100%, 50%, 0.7 ); }
#box .left   { background: hsla( 180, 100%, 50%, 0.7 ); }
#box .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
#box .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }*/

#box .front  {
    -webkit-transform: translateZ( 3px );
    -moz-transform: translateZ( 3px );
    -o-transform: translateZ( 3px );
    transform: translateZ( 3px );
}
#box .back   {
    -webkit-transform: rotateX( -180deg ) translateZ(  3px );
    -moz-transform: rotateX( -180deg ) translateZ(  3px );
    -o-transform: rotateX( -180deg ) translateZ(  3px );
    transform: rotateX( -180deg ) translateZ(  3px );
}
#box .right {
    -webkit-transform: rotateY(   90deg ) translateZ( 147px );
    -moz-transform: rotateY(   90deg ) translateZ( 147px );
    -o-transform: rotateY(   90deg ) translateZ( 147px );
    transform: rotateY(   90deg ) translateZ( 147px );
}
#box .left {
    -webkit-transform: rotateY(  -90deg ) translateZ( 153px );
    -moz-transform: rotateY(  -90deg ) translateZ( 153px );
    -o-transform: rotateY(  -90deg ) translateZ( 153px );
    transform: rotateY(  -90deg ) translateZ( 153px );
}
#box .top {
    -webkit-transform: rotateX(   90deg ) translateZ( 6px );
    -moz-transform: rotateX(   90deg ) translateZ( 6px );
    -o-transform: rotateX(   90deg ) translateZ( 6px );
    transform: rotateX(   90deg ) translateZ( 6px );
}
#box .bottom {
    -webkit-transform: rotateX(  -90deg ) translateZ( 294px );
    -moz-transform: rotateX(  -90deg ) translateZ( 294px );
    -o-transform: rotateX(  -90deg ) translateZ( 294px );
    transform: rotateX(  -90deg ) translateZ( 294px );
}


#box.init {
    animation-name: initBox;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 5s;
}
#box.show-back {
    -webkit-transform: translateZ( -50px ) rotateX( -180deg );
    -moz-transform: translateZ( -50px ) rotateX( -180deg );
    -o-transform: translateZ( -50px ) rotateX( -180deg );
    transform: translateZ( -50px ) rotateX( -180deg );
}
#box.show-right {
    -webkit-transform: translateZ( -150px ) rotateY(  -90deg );
    -moz-transform: translateZ( -150px ) rotateY(  -90deg );
    -o-transform: translateZ( -150px ) rotateY(  -90deg );
    transform: translateZ( -150px ) rotateY(  -90deg );
}
#box.show-left {
    -webkit-transform: translateZ( -150px ) rotateY(   90deg );
    -moz-transform: translateZ( -150px ) rotateY(   90deg );
    -o-transform: translateZ( -150px ) rotateY(   90deg );
    transform: translateZ( -150px ) rotateY(   90deg );
}
#box.show-top {
    -webkit-transform: translateZ( -100px ) rotateX(  -90deg );
    -moz-transform: translateZ( -100px ) rotateX(  -90deg );
    -o-transform: translateZ( -100px ) rotateX(  -90deg );
    transform: translateZ( -100px ) rotateX(  -90deg );
}
#box.show-bottom {
    -webkit-transform: translateZ( -100px ) rotateX(   90deg );
    -moz-transform: translateZ( -100px ) rotateX(   90deg );
    -o-transform: translateZ( -100px ) rotateX(   90deg );
    transform: translateZ( -100px ) rotateX(   90deg );
}

