{# sert si pas javascript !!!#}
<div>
    <ul>
        {% for client in clients %}
            <li><a href="{{ Lien }}/{{ client.Url }}">{{ client.Nom }}</a></li>
        {% endfor %}
    </ul>
</div>

