<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block" ng-repeat="item in itemList">
        <div class="cd-timeline-img cd-picture" ng-class="item.Side">

        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content" ng-class="item.Side">
            <p ng-bind-html="item.Texte"></p>

            <span class="cd-auteur" ng-bind-html="item.Auteur"></span>
            <span style="height: 32px; float: right;" ng-if="item.Editable">
                <!--<a class="btn-abt btn-abt-mod btn-warning" href="javascript: void(0);" ng-click="IncidentClientCommentairemodify(item)" title="Modifier"></a>-->
                <a class="btn-abt btn-abt-del btn-danger" href="javascript: void(0);" ng-click="IncidentClientCommentairedelete(item)" title="Supprimer"></a>
            </span>
            <span class="cd-date" ng-bind-html="item.Date"></span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->