<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block" ng-repeat="item in itemList">
        <div class="cd-timeline-img cd-picture" ng-class="item.Side">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content" ng-class="item.Side">
            <div class="row">
                <p class="col-md-12" ng-bind-html="item.Titre"></p>
                <!--<p class="col-md-2">
                    <a href="" class="unfold" ng-init="attachListener();">Detail</a>
                </p>-->
            </div>
            <pre class="fold" ng-if="item.Note != undefined && item.Note != ''" ng-bind-html="item.Note"></pre>
            <div class="fileContainer" ng-if="item.Fichier != undefined && item.Fichier != ''" ng-bind-html="checkFile(item.Fichier);"></div>

            <span class="cd-auteur" ng-bind-html="item.Auteur"></span>
            <span style="height: 32px; float: right;" ng-if="item.Editable">
                <!--<a class="btn-abt btn-abt-mod btn-warning" href="javascript: void(0);" ng-click="ParcActionmodify(item)" title="Modifier"></a>-->
                <a class="btn-abt btn-abt-del btn-danger" href="javascript: void(0);" ng-click="ParcActiondelete(item)" title="Supprimer"></a>
            </span>
            <span class="cd-date" ng-bind-html="item.Date"></span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->
