div.containerR  {
	position:relative;
	display:block;
	padding-right:258px;
}

div.innerR {
	display:block;
	margin-right:-258px;
	overflow:hidden;
}

div.Right {
	position:relative;
	width:258px;
	display: block;
	float:right;
	right:0;
}

div.centreR {
	position:relative;
	display:block;
	height:1%;
	margin-right:260px;
	padding: 0 5px;
}
div.centre {
	position:relative;
	display:block;
	height:1%;
}