{# carte Adherent #}
<div class="page-content-inner">
    <h3>Attestation fiscale</h3>
    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-body cadref-panel-body">
            <div class="row no-gutters">
                <div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							Pas encore disponible
{#							<button type="button" class="btn btn-success margin-inline " ng-click="adherentCarte('print')">Imprimer</button>
#}						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


