{# fiche inscriptions adherent #}
<div class="page-content-inner">
	<h3>Inscriptions</h3>
    <section class="panel">
        <div class="panel-body">
            <div class="row no-gutters">		
                <div class="col-md-12">
					<div class="row" ng-if="!inscriptionObj.Select">
						<div class="col-md-2">
							<button type="button" class="btn btn-success" ng-click="inscriptionSelect(true)">Ajouter un cours</button>
						</div>
					</div>
					<section class="panel" ng-if="inscriptionObj.Select">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-1">
									<label class="form-control-label cadref-label" style="line-height:1.1">Antenne</label>
								</div>
								<div class="col-md-4">
									<div custom-select="a.Id as a.Libelle for a in inscriptionGetData('antenne',$searchTerm)" 
										 custom-select-options="{'async': true, 'filter':''}" 
										 ng-model="inscriptionObj.AntenneId" 
										 class="form-control">
									</div>
								</div>
							</div>
							<div class="row" ng-if="inscriptionObj.AntenneId">
								<div class="col-md-1">
									<label class="form-control-label cadref-label" style="line-height:1">Section</label>
								</div>
								<div class="col-md-4">
									<div custom-select="a.Id as a.Libelle for a in inscriptionGetData('section',$searchTerm)" 
										 custom-select-options="{'async':true, 'filter':''}" 
										 ng-model="inscriptionObj.SectionId" 
										 class="form-control" 
										 cs-depends-on="inscriptionObj.AntenneId">
									</div>
								</div>
							</div>
							<div class="row" ng-if="inscriptionObj.SectionId">
								<div class="col-md-1">
									<label class="form-control-label cadref-label" style="line-height:1">Discipline</label>
								</div>
								<div class="col-md-4">
									<div custom-select="a.Id as a.Libelle for a in inscriptionGetData('discipline',$searchTerm)" 
										 custom-select-options="{ 'async': true, 'filter':''}" 
										 ng-model="inscriptionObj.DisciplineId" 
										 class="form-control" 
										 cs-depends-on="inscriptionObj.SectionId"
										 ng-click="inscriptionGetData('classe','')">
									</div>
								</div>
							</div>
							<div class="row" ng-if="inscriptionObj.DisciplineId">
								<div style="height:10px"></div>
								<div class="col-md-12">
									<div class="listWrap">
										<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%">
											<thead>
												<tr>
													<th title="Id" class="list-col-th-id" hidden>ID</th>
													<th class="cadref-th" style="width:34px"></th>
													<th class="cadref-th">Libellé</th>
													<th class="cadref-th">Antenne</th>
													<th class="cadref-th">Heures</th>
													<th class="cadref-th">Période</th>
													<th class="cadref-th">Prix</th>
													<th class="cadref-th">Places</th>
													<th class="cadref-th">Enseignant</th>
													<th class="cadref-th"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in inscriptionObj.ClasseItems">
													<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
													<td  class="table-action cadref-td-btn" style="width:34px">
														<span class="btn-abt cadref-btn-add btn-success" ng-click="inscriptionAjoute(item)" title="Inscrire"></span>
													</td>
													<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.LibelleD+' '+item.LibelleN }]}</span></td>
													<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.LibelleA }]}</span></td>
													<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Jour.substring(0, 3)+' '+item.HeureDebut+'&nbsp;- '+item.HeureFin }]}</span></td>
													<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.CycleDebut ? item.CycleDebut+'&nbsp;- '+item.CycleFin : "Toute l'année" }]}</span></td>
													<td scope="row" class="cadref-td typefloat"><span class="label">€ {[{ (item.Prix*1)-(item.Reduction*1)-(item.Soutien*1) }]}</span></td>
													<td scope="row" class="cadref-td typevarchar"><span class="label" ng-class="{'cadref-highlight': item.Disponible==0}">{[{ item.Disponible+' / '+item.Places }]}</span></td>
													<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Enseignants }]}</span></td>
													<td  class="table-action cadref-td-btn">
														<span class="btn-abt cadref-btn-add btn-success" ng-click="inscriptionAjoute(item)" title="Inscrire"></span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									<button type="button" class="btn btn-warning" ng-click="inscriptionSelect(false)">Annuler</button>
								</div>
							</div>
						</div>
					</section>
					<section class="panel">
						<div class="panel-body">
							<ng-include src="'Cadref/Adherent/0/Inscription/PublicListInscr.htm?tempContext=1'"></ng-include>
						</div>
						<div class="row" ng-if="inscriptionObj.Updated">
							<div class="col-md-2">
							<label class="form-control-label cadref-label" style="line-height:1">Prix des cours : € {[{ inscriptionObj.Montant }]}</label>
							</div>
							<div class="col-md-2">
							<label class="form-control-label cadref-label" style="line-height:1">Cotisation CADREF : {[{ inscriptionObj.Cotisation*1>0 ? '€ '+inscriptionObj.Cotisation : 'Déjà payée' }]}</label>
							</div>
							<div class="col-md-2">
							<label class="form-control-label cadref-label" style="line-height:1">Montant à payer : € {[{ inscriptionObj.Total }]}</label>
							</div>
							<div class="col-md-2">
							<button type="button" class="btn btn-info" ng-click="inscriptionConfirme()">Confirmer l'inscription</button>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</div>

