{# fiche adherent benevole #}
<div class="page-content-inner">
	<h3>Visite</h3>
    <section class="panel">
        <div class="panel-body">
            <div class="row no-gutters">
                <div class="col-md-12">
					<section class="panel">
						<div class="panel-body">
							<ng-include src="'Cadref/Visite/List.htm?Mode=benevole'"></ng-include>
						</div>
					</section>
				</div>
			</div>
    </section>
</div>
