{# fiche visites Enseignant #}
<div class="page-content-inner">
	<h3>Visites guidées</h3>
    <section class="panel">
        <div class="panel-body">
            <div class="row no-gutters">
                <div class="col-md-12">
					<section class="panel">
						<div class="panel-body">
							<ng-include src="'Cadref/Enseignant/0/Visite/PublicListVisite.htm'"></ng-include>
						</div>
					</section>
				</div>
			</div>
    </section>
</div>

