/* block top languages */
#languages_block_top {
}
#languages_block_top ul#first-languages li {
	margin:2px 0
}
#languages_block_top ul#first-languages li.selected_language {
	margin:2px 0;
	font-weight: bold;
}
#languages_block_top .item-top{
	background: url("img/bullet.png") no-repeat scroll right center transparent;
    border: medium none;
    padding-right: 18px;
}
#languages_block_top span:hover{color: #1BA1E2}
#languages_block_top  .nav-item-content{
	width: 147px;	
}