<div class="row">
    <div class="col-md-6">
        <label class="form-control-label" for="l0">Nom de l'instance</label>
        <small>
            <i class="icmn-question3 help-wrapper"><span class="fieldHelp">Le nom de la nouvelle instance</span></i>
        </small>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="Nom" placeholder="Nom de la nouvelle instance" ng-model="ParcInstancefunction.args.targetInstance">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label class="form-control-label" for="l0">Infrastructure de destination</label>
        <small>
            <i class="icmn-question3 help-wrapper"><span class="fieldHelp">Si laissé vide, le serveur de l'infrastructure par défaut sera séletionné.</span></i>
        </small>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div custom-select="a.id as a.label for a in getSelectData('ParcInfraStore',$searchTerm)" custom-select-options="{ 'async': true, 'filter':'Web=1'}" ng-model="ParcInstancefunction.args.targetInfra" class="form-control" ng-title="label"></div>
        </div>
    </div>
</div>
