{# fiche sendAlert #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean %} 
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading" style="padding-bottom:10px; padding-top:10px">
            <h4>
                {{ CurrentMenu.Titre }}
            </h4>
        </div>
        <div class="row" style="height:20px"></div>
		<div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body cadref-no-padding">
							<div class="row">
								<div class="col-xl-8">
									<div class="row">
										<div class="col-md-1">
											{{ label("Titre") }}
										</div>
										<div class="col-md-6">
									        <input type="text" class="form-control cadref-input" ng-model="obj.Titre"/>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-1">
											{{ label("Texte") }}
										</div>
										<div class="col-md-6">
											<textarea class="form-control cadref-input" style="width:100%;min-height:50px;white-space:pre-wrap;" ng-model="obj.Texte"></textarea>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-1">
										</div>
										<div class="col-md-2">
											<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="sendAlert()">Envoyer</button>
										</div>
									</div>
								</div>                            
							</div>
						</div>
					</div>
				</div>
			</div>
    </section>
</div>

