{# fiche info personnelles Enseignant #}
<div class="page-content-inner">
	<h3>Absences</h3>
    <section class="panel">
        <div class="panel-body">
            <div class="row no-gutters">
				<div class="row">
					<div class="col-md-5">
						<section class="panel" ng-if="obj.id">
							<div class="panel-body cadref-no-padding">
								<ng-include src="'Cadref/Enseignant/0/Absence/ListAbsence.htm?public=1'"></ng-include>
							</div>
						</section>
					</div>
					<div class="col-md-7">
						<div style="background-color: white; padding: 3px">
							<div ui-calendar="uiConfig.calendar" id="calendar" class="absence-calendar-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
</div>

