<form name="CadrefContentIsncr" id="CadrefContentIsncr">
<div>
	<span class="cadref-ins-numero" ng-bind="modalObj.Numero"></span> <span class="cadref-ins-nom" ng-bind="modalObj.Nom|uppercase"></span> <span class="cadref-ins-prenom" ng-bind="modalObj.Prenom"></span>
</div>
<div class="row">
	<div class="col-md-12">
		<ng-include src="'/{{ CurrentUrl }}/0/Inscription/ListInscription.htm?tempContext=1'" ></ng-include>
	</div>
</div>
<div class="row cadref-separ"></div>
<section class="panel">	
	<table>
		<thead>
			<tr>
				<th>Cotis.</th>
				<th>Cotis.</th>
				<th>Cours</th>
				<th>Visites</th>
				<th>Règlé</th>
				<th>Différé</th>
				<th>Dons</th>
				<th>Régul.</th>
				<th>Solde</th>
				<th>Payé</th>
				<th>Mode</th>
				<th>Date</th>
				<th>Notes</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="cadref-td-inscr">			
					<switch ng-model="CadrefClasse.Inscr.noCotis" ng-change="classeCotisation()" class="cadref-switch-green"></switch>
				</td>
				<td class="cadref-td-inscr">
					<input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.cotis" readonly tabindex="-1" style="width:60px"/>
				</td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.cours" readonly tabindex="-1" style="width:60px" /></td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.visit" readonly tabindex="-1" style="width:60px" /></td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.regle" readonly tabindex="-1" style="width:60px" /></td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.diff" readonly tabindex="-1" style="width:60px" /></td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.dons" ng-change="classeDons()" style="width:60px" /></td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.regul" readonly tabindex="-1" style="width:60px" /></td>
				<td class="cadref-td-inscr"><input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.solde" ng-class="{'cadref-highlight': CadrefClasse.Inscr.nonSolde}" readonly tabindex="-1" style="width:60px" /></td>
				<td class="cadref-td-inscr">
					<input type="text" id="inscrPaye" class="form-control cadref-input" onClick="this.select()" ng-model="CadrefClasse.Inscr.paye" ng-change="classePaye()" style="width:60px" />
				</td>
				<td class="cadref-td-inscr">
					<select class="form-control cadref-input" ng-model="CadrefClasse.Inscr.mode" ng-change="nextControle(true)">
						<option value=""></option>
						<option value="B">Banque</option>
						<option value="C">Carte</option>
						<option value="E">Espèces</option>
					</select>	
				</td>
				<td class="cadref-td-inscr">
					<label class="input-group datepicker-only-init">
						<input id="input-CadrefClassedate" type="text" class="form-control cadref-input"
							   ng-model="CadrefClasse.Inscr.date" style="width:100px" ng-init="initDatePickerOnly()"/>
						<span class="input-group-addon">
							<i class="icmn-calendar"></i>
						</span>
					</label>
				</td>
				<td class="cadref-td-inscr">
					<input type="text" class="form-control cadref-input" ng-model="CadrefClasse.Inscr.note"/>
				</td>
				<td class="cadref-td-inscr">
					<a href="" id="inscriptionNext" type="button" class="btn btn-info ng-scope" ng-disabled="nextDisabled" ng-if="CadrefAdherentfunction.callNext" ng-click="classeValider()">Valider</a>
				</td>
			</tr>
		</tbody>

	</table>
</section>
</form>
<div class="row cadref-separ"></div>
<div class="form-group row">
    <div class="col-lg-5 col-md-12">
		<div class="input-group list-search">
			<div class="row">
				<div class="col-md-6" style="padding-right:0">
					<input type="text" id="searchCadrefClasse" class="form-control" name="CadrefClassequery" ng-model="CadrefClasse.filter" ng-change="classeControle(0)" 
						   placeholder="Code..." mask="wwwwwww" autofocus style="text-transform:uppercase;" onkeyup="this.value = this.value.toUpperCase();">
				</div>
				<div class="col-md-6" style="padding-left:0">
					<input type="text" id="searchCadrefClasse2" class="form-control" name="CadrefClassequery2" ng-model="CadrefClasse.filter2" ng-change="classeControle(1)" 
						   placeholder="Recherche...">
				</div>
			</div>
			<span class="input-group-btn">
				<a href="javascript: void(0);" class="btn btn-default cadref-btn-erase" accesskey="x" title="Alt X" ng-click="classeClearFilters()"></a>
                <a hidden href="javascript: void(0);" class="btn btn-success" accesskey="a" title="Alt A" ng-click="classeAjoute(null)" ng-disabled="addDisabled">Ajouter</a>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ng-include src="'/Cadref/Classe/ListClasse.htm?tempContext=1'" ></ng-include>
	</div>
</div>
<input type="hidden" ng-init="CadrefAdherentfunction.args.newInscr=CadrefInscription.store.data.temp"/>
<input type="hidden" ng-init="CadrefAdherentfunction.args.Inscr=CadrefClasse.Inscr"/>
{#<script>
	$(document).ready(function(){ $('#searchCadrefClasse').focus(); });
</script>#}