<div class="boxnum">
	<div class="row numWrap">
		<div class="col-md-2 text-left"><img src="/{{ LOGOTEL }}" class="logoContact"></div>
		<div class="col-md-8">{{ Adherent.Tel }}</div>
		<div class="col-md-2 text-right"><img src="/{{ LOGOTEL }}" class="logoContact"></div>
	</div>
</div>
