<div class="modal fade modal-size-large" id="modalFocus" role="modal" aria-labelledby="" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document" style="height: calc(100% - 60px);">
        <div class="modal-content" style="height:100% ;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{ FocusProperty }]}</h4>
            </div>
            <div class="modal-body" style="height: calc(100% - 124px); padding: 15px 0;">
                <iframe id="focusFrame" style="border: none; width: 100%; height: 100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" >Fermer</button>
            </div>
        </div>
    </div>
</div>