<div class="col-md-6">
    <label class="form-control-label" for="l0">Nom de l'hébergement</label>
    <small>
        <i class="icmn-question3 help-wrapper"><span class="fieldHelp">Si laissé vide un nom sera généré automatiquement</span></i>
    </small>
</div>
<div class="col-md-6">
    <div class="form-group">
        <input type="text" class="form-control" name="Nom" placeholder="Nom du nouvel hébergement" ng-model="ParcHostfunction.args.targetHost">
    </div>
</div>
