<div class="row">
    <div class="col-md-6">
        <label class="form-control-label" for="l0">Nom de l'instance</label>
        <small>
            <i class="icmn-question3 help-wrapper"><span class="fieldHelp">Saisissez le nom de l'instance telle qu'elle apparaitra dans la liste.</span></i>
        </small>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="Nom" placeholder="Nom de la nouvelle instance" ng-model="ParcHostfunction.args.Nom">
        </div>
    </div>
</div>
