<section class="panel" id="SpEvents">
    <div class="panel-heading">
        <h3>Dates et disponibilités du spectacle</h3>
    </div>
    <div class="panel-body">
        <ng-include src="'/{{ CurrentUrl }}/0/Evenement/ListChildren.htm'" ng-if="show"></ng-include>
    </div>
</section>