
<div class="SaisieContenu Contenu {{ CSS }}" >
    <div class="css-helper" style="background-color:{{ BGCOLOR }};" >
    {% if IMG is not empty %}
    <img src="" alt="" />
    {%  endif %}
    {{ HTML | raw }}
    </div>
</div>

