{% from "Skins/Css34/Modules/Reservation/Spectacle/ListItem.twig" import  spectacle_item %}

<div v-if="!render"  class="spectacles-list" id="spectacles-list">
    {% for s in spectacles %}
        {{ spectacle_item(s,sc,g) }}
    {% endfor %}
</div>
