{% from "Skins/Css34/Modules/Reservation/Spectacle/ListItem.twig" import  spectacle_item %}
<div class="spectacles-list">
    {% for s in spectacles %}
        {{ spectacle_item(s,s._Organisation,s._Genre) }}
    {% endfor %}
</div>
