<div class="modal fade cadref-modal-size-medium" id="modal-Attachements" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog cadref-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
				<a class="btn-abt cadref-btn-close" href="" data-dismiss="modal" title="Annuler"></a>
                <h4 class="modal-title" id="myModalLabel">Cours : Documents</h4>
            </div>
            <div class="modal-body">
                <div ng-if="attachementInfo.classeId>0 || attachementInfo.visiteId>0">
					<ng-include src="'Cadref/Attachement/FicheAttachements.htm'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>

