<div class="listWrap">
	<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%" style="line-height:1" >
		<thead>
			<tr>
				<th title="Id" class="list-col-th-id" hidden>ID</th>
				<th class="cadref-th">Classe</th>
				<th class="cadref-th">Libellé</th>
				<th class="cadref-th">Horaires</th>
				<th class="cadref-th">Cycle</th>
				<th class="cadref-th">Prix</th>
				<th class="cadref-th">Réduc</th>
				<th class="cadref-th">Soutien</th>
				<th class="cadref-th">Places</th>
				<th class="cadref-th">Etat</th>
				<th class="cadref-th">Date</th>
				<th class="cadref-th">U</th>
				{% if tempContext %}
				<th class="cadref-th"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="item in {{ identifier }}{% if tempContext %}.store.data.temp{% else %}.data{% endif %}">
				<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.CodeClasse }]}</span></td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.LibelleW }]} {[{ item.LibelleN }]}</span></td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Jour | limitTo : 3 }]} {[{ item.HeureDebut }]}&nbsp;-&nbsp;{[{ item.HeureFin }]}</span></td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.CycleDebut }]}&nbsp;-&nbsp;{[{ item.CycleFin }]}</span></td>
				<td scope="row" class="cadref-td typefloat"><span class="label">{[{ (item.Prix*1){% if public %}-(item.Reduction*1)-(item.Soutien*1){% endif %} }]}</span></td>
				<td scope="row" class="cadref-td typefloat">
					{% if tempContext %}
						<input type="text" class="form-control cadref-input-diff" ng-model="item.Reduction" ng-change="classeReductionChange(item)" mask="dddd" style="max-width:60px" ng-class="{'cadref-highlight': item.id*1==0&&item.Reduction*1!=0}"/>
					{% else %}
						<span class="label">{[{ item.Reduction }]}</span>
					{% endif %}
				</td>
				<td scope="row" class="cadref-td typefloat">
					{% if tempContext %}
						<input type="text" class="form-control cadref-input-diff" ng-model="item.Soutien" ng-change="classeReductionChange(item)" mask="dddd" style="max-width:60px" ng-class="{'cadref-highlight': item.id*1==0&&item.Soutien*1!=0}"/>
					{% else %}
						<span class="label">{[{ item.Soutien }]}</span>
					{% endif %}				
				</td>
				<td scope="row" class="cadref-td typevarchar"><span class="label" ng-class="{'cadref-highlight': Number(item.Inscrits)>=Number(item.Places)}">{[{ item.Places+' - '+item.Inscrits+' - '+item.Attentes }]}</span></td>
				<td scope="row" class="cadref-td typevarchar">
					<span class="label label-info" ng-if="item.Attente>0 && item.Supprime==0">Att</span>
					<span class="label label-success" ng-if="item.Attente==0 && item.Supprime==0">Ins</span>
					<span class="label label-danger" ng-if="item.Supprime==1">Sup</span>
					<span class="label label-warning" ng-if="item.Supprime==2" style="background-color:orange">Ech</span>
				</td>
				<td scope="row" class="cadref-td typedate">
					<span class="label" ng-if="item.Supprime>0">{[{ item.DateSupprime | limitTo : 5 }]}</span>
					<span class="label" ng-if="item.Attente>0 && item.Supprime==0">{[{ item.DateAttente.substr(0, 5)+' '+item.DateAttente.substr(10, 6) }]}</span>
					<span class="label" ng-if="item.Attente==0 && item.Supprime==0">{[{ item.DateInscription | limitTo : 5 }]}</span>
				</td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Utilisateur }]}</span></td>
				{% if tempContext %}
					<td  class="table-action cadref-td-btn">
						<div  style="width:120px">
							<a class="btn-abt cadref-btn-add btn-success" href="javascript: void(0);" ng-click="classeInscrire(item)" title="Inscrire" ng-if="item.Supprime>0 || item.Attente>0"></a>
							<a class="btn-abt cadref-btn-wait btn-primary" href="javascript: void(0);" ng-click="classeAttente(item)" title="Attente" ng-if="item.Supprime==0 && item.Attente==0"></a>
							<a class="btn-abt cadref-btn-change btn-warning" href="javascript: void(0);" ng-click="classeSupprime(item,2)" title="Echanger" ng-if="item.id>0 && item.Supprime==0 && item.Attente==0"></a>
							<a class="btn-abt cadref-btn-del btn-danger" href="javascript: void(0);" ng-click="classeSupprime(item,1)" title="Supprimer" ng-if="item.Supprime==0"></a>
						</div>
					</td>
				{% endif %}
			</tr>
		</tbody>
	</table>
</div>