<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%" style="line-height:1" >
    <thead>
        <tr>
            <th title="Id" class="list-col-th-id" hidden>ID</th>
	        <th class="cadref-th">Départ</th>
	        <th class="cadref-th">Lieu</th>
			<th class="cadref-th">Actions</th>
        </tr>
    </thead>
    <tbody>
		<tr dir-paginate="item in {{ identifier }}.data" >
			<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
			<td scope="row" class="cadref-td typedate"><span class="label">{[{ item.HeureDepart }]}</span></td>
			<td scope="row" class="cadref-td typedate"><span class="label">{[{ item.Libelle }]}</span></td>
			<td  class="table-action cadref-td-btn">
				<a class="btn-abt btn-abt-nfo btn-primary" href="" title="Détails" ng-click="departOpen(item)"></a>
			</td>
		</tr>
    </tbody>
</table>
<div class="modal fade modal-size-large" id="modal-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog cadref-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{[{ modalObj.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="modalObj.errors.length">
                    <ul>
                        <li ng-repeat="e in modalObj.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="modalObj.warning.length">
                    <ul>
                        <li ng-repeat="e in modalObj.warning">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-success" ng-if="modalObj.infos.length">
                    <ul>
                        <li ng-repeat="e in modalObj.infos">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div ng-if="modalObj.success == false">
                    {{ include(template_from_string(module(formPath~'?Path='~Path))) }}
                </div>
            </div>
        </div>
    </div>
</div>
