{# ListVisite #}
<div class="listWrap">
	<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%" style="line-height:1" >
		<thead>
			<tr>
				<th title="Id" class="list-col-th-id" hidden>ID</th>
				<th class="cadref-th">Date</th>
				<th class="cadref-th">Visite</th>
				<th class="cadref-th">Libellé</th>
				<th class="cadref-th">Places</th>
				<th class="cadref-th">Prix</th>
				<th class="cadref-th">Mode</th>
				{#<th class="cadref-th">Assur</th>#}
				<th class="cadref-th">Départ</th>
				<th class="cadref-th">Etat</th>
				<th class="cadref-th">Date</th>
				<th class="cadref-th">U</th>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="item in {{ identifier }}.store.data.temp">
				<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.DateVisite | limitTo : 5 }]}</span></td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Visite }]}</span></td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Libelle }]}</span></td>
				<td scope="row" class="cadref-td typefloat"><a href="" ng-click="visiteAjoute(item)" ng-class="{'cadref-highlight': (item.Inscrits*1+item.Attentes*1)>=item.Places}">{[{ item.Places+' - '+item.Inscrits+' - '+item.Attentes }]}</a></td>
				<td scope="row" class="cadref-td typefloat">
					<input type="text" class="form-control cadref-input-diff" ng-model="item.Prix" ng-change="visiteUpdate(item)" mask="dddd" style="max-width:60px"/>
				</td>
				<td class="cadref-td">
					<select class="form-control cadref-input-diff" ng-model="item.ModeReglement" ng-change="visiteUpdate(item)">
						<option value=""></option>
						<option value="B">Banque</option>
						<option value="C">Carte</option>
						<option value="E">Espèces</option>
						<option value="P">Prélèv</option>
						<option value="V">Vacances</option>
					</select>	
				</td>
				{#<td scope="row" class="cadref-td typefloat"><span class="label">{[{ item.Assurance }]}</span></td>#}
				<td scope="row" class="cadref-td typevarchar" style="width:60px">
					<div custom-select="a.id as a.Lieu+' - '+a.HeureDepart for a in getSelectData('CadrefDepartStore',$searchTerm)" 
						 custom-select-options="{'async':true, 'filter':'VisiteId='+item.VisiteVisiteId, 'displayText':' '}" 
						 ng-model="item.DepartDepartId"
						 class="form-control cadref-input-diff" 
						 ng-title="item.Lieu+' - '+item.HeureDepart"
						 id="visiteDepart{[{ item.line }]}"
						 ng-change="visiteUpdate(item)">
					</div>
				</td>
				<td scope="row" class="cadref-td typevarchar">
					<span class="label label-info" ng-if="item.Attente>0 && item.Supprime==0">Att</span>
					<span class="label label-success" ng-if="item.Attente==0 && item.Supprime==0">Ins</span>
					<span class="label label-danger" ng-if="item.Supprime==1">Sup</span>
					<span class="label label-warning" ng-if="item.Supprime==2" style="background-color:orange">Ech</span>
				</td>
				<td scope="row" class="cadref-td typedate">
					<span class="label" ng-if="item.Supprime>0">{[{ item.DateSupprime | limitTo : 5 }]}</span>
					<span class="label" ng-if="item.Attente>0 && item.Supprime==0">{[{ item.DateAttente.substr(0, 5)+' '+item.DateAttente.substr(10, 6) }]}</span>
					<span class="label" ng-if="item.Attente==0 && item.Supprime==0">{[{ item.DateInscription | limitTo : 5 }]}</span>
				</td>
				<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Utilisateur }]}</span></td>
				<td  class="table-action cadref-td-btn">
					<div  style="width:120px">
						<a class="btn-abt cadref-btn-add btn-success" href="javascript: void(0);" ng-click="visiteInscrire(item)" title="Inscrire" ng-if="item.Supprime>0 || item.Attente>0"></a>
						<a class="btn-abt cadref-btn-wait btn-primary" href="javascript: void(0);" ng-click="visiteAttente(item)" title="Attente" ng-if="item.Supprime==0 && item.Attente==0"></a>
						<a class="btn-abt cadref-btn-change btn-warning" href="javascript: void(0);" ng-click="visiteSupprime(item,2)" title="Echanger" ng-if="item.id>0 && item.Supprime==0 && item.Attente==0"></a>
						<a class="btn-abt cadref-btn-del btn-danger" href="javascript: void(0);" ng-click="visiteSupprime(item,1)" title="Supprimer" ng-if="item.Supprime==0"></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>