<div class="listWrap">
	<table class="table table-hover nowrap straight" id="CadrefClasse-table" width="100%" style="line-height:1" >
		<thead>
			<tr>
				<th title="Id" class="list-col-th-id" hidden>ID</th>
				<th class="cadref-th">Classe</th>
				<th class="cadref-th">Libellé</th>
{#				<th class="cadref-th">Web</th>
#}				<th class="cadref-th">Heures</th>
				<th class="cadref-th">Cycle</th>
				<th class="cadref-th">Places</th>
				<th class="cadref-th">Prix</th>
				{% if children %}
					<th class="cadref-th">M</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="item in CadrefClasse.data" >
				<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
				<td scope="row" class="cadref-td typevarchar"><a href="" ng-click="classeAjoute(item)">{[{ item.CodeClasse }]}</a></td>
{#				<td scope="row" class="cadref-td typevarchar"><a href="" ng-click="classeAjoute(item)">{[{ item.LibelleD }]} {[{ item.LibelleN }]}</a></td>
#}				<td scope="row" class="cadref-td typevarchar"><a href="" ng-click="classeAjoute(item)">{[{ item.LibelleW }]} {[{ item.LibelleN }]}</a></td>
				<td scope="row" class="cadref-td typevarchar"><a href="" ng-click="classeAjoute(item)">{[{ item.Jour | limitTo : 3}]} {[{ item.HeureDebut }]}&nbsp;-&nbsp;{[{ item.HeureFin }]}</a></td>
				<td scope="row" class="cadref-td typevarchar"><a href="" ng-click="classeAjoute(item)">{[{ item.CycleDebut }]}&nbsp;-&nbsp;{[{ item.CycleFin }]}</a></td>
				<td scope="row" class="cadref-td typefloat"><a href="" ng-click="classeAjoute(item)" ng-class="{'cadref-highlight': item.Places*1<=item.Inscrits*1}">{[{ item.Places+' - '+item.Inscrits+' - '+item.Attentes }]}</a></td>
				<td scope="row" class="cadref-td typefloat"><a href="" ng-click="classeAjoute(item)">{[{ item.Prix+' - '+((item.Prix*1)-(item.Reduction1*1))+' - '+((item.Prix*1)-(item.Reduction2*1)) }]}</a></td>
			</tr>
		</tbody>
	</table>
</div>