<p>Choisissez un format :</p>
<div style="font-size:15px;font-weight:bold;text-decoration:underline;">
    <a href="/Reservation/ListMailOrgaPdf" rel="link" target="_blank">Format Pdf</a><br>
    <a href="/Reservation/ListMailOrgaCsv" rel="link" target="_blank" class="disabled" style="opacity:0.5;">Format Csv</a>
</div>
