<div class="wrapMention">
    <div id="mention" class="Container inactive">
        <div id="mLegal" onclick="animLegal();" >Mentions Legales</div>
        <div class="mentionsLegal">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    {{ Mention.ColonneGauche| raw }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    {{ Mention.ColonneCentre|raw }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    {{ Mention.ColonneDroite|raw }}
                </div>
            </div>
        </div>
    </div>
</div>