<div class="margin-bottom-50">
    <div class="dd" id="nestable1">
        <ol class="dd-list">
            <li class="dd-item" data-id="1">
                <div class="dd-handle">Level 1</div>
            </li>
            <li class="dd-item" data-id="2">
                <div class="dd-handle">Level 1</div>
                <ol class="dd-list">
                    <li class="dd-item" data-id="3"><div class="dd-handle">Level 2</div></li>
                    <li class="dd-item" data-id="4"><div class="dd-handle">Level 2</div></li>
                    <li class="dd-item" data-id="5">
                        <div class="dd-handle">Level 2</div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="6"><div class="dd-handle">Level 3</div></li>
                            <li class="dd-item" data-id="7"><div class="dd-handle">Level 3</div></li>
                            <li class="dd-item" data-id="8"><div class="dd-handle">Level 3</div></li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="9"><div class="dd-handle">Level 2</div></li>
                    <li class="dd-item" data-id="10"><div class="dd-handle">Level 2</div></li>
                </ol>
            </li>
            <li class="dd-item" data-id="11">
                <div class="dd-handle">Level 1</div>
            </li>
            <li class="dd-item" data-id="12">
                <div class="dd-handle">Level 1</div>
            </li>
        </ol>
    </div>
</div>

<!-- Page Scripts -->
<script>
    $(function(){
        $('#nestable1').nestable();
    });
</script>
<!-- End Page Scripts --->