@import "menu.css";
@import "components.css";
@import "redaction.css";
@import "forms.css";

/*--- RESET ---*/
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none }
del { text-decoration: line-through }
table { border-collapse: collapse; border-spacing: 0 }
a:active, input:active { outline: none }
:-moz-any-link:focus { outline: none }
.row-fluid [class*="span"] {
    min-height: 0;/*padding:0;*/
}
/*-- GLOBAL ---*/
html,body {
	padding:0;
	margin:0;
	font-family: Arial;
	font-size:12px;
	color: #393939;
	background: url("../Img/fondDegradeSite.png") repeat-x; 

}
.container {
    	margin-left: 0px; margin-right: 0px;
	padding-left: 0px; padding-right: 0px;
	width:980px;
}
.row { margin:0;}

.Sitemap ul {
	list-style:none;
}
input, textarea, select, button {
	font-family: Arial;
	font-size: 12px;
}
.Ariane{
	font-size:10px;
}
a {
	text-decoration: none;
	color: #b46ea0;
}

a:hover, a:focus {
	color: #b46ea0;
	text-decoration: underline;
}

/*-- en fait pas rouge mais mauve **/
.btn-red {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #b46fa0;
	*background-color: #b46fa0;
	background-image: -moz-linear-gradient(top, #D0A5C4, #b46fa0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D0A5C4), to(#b46fa0));
	background-image: -webkit-linear-gradient(top, #D0A5C4, #b46fa0);
	background-image: -o-linear-gradient(top, #D0A5C4, #b46fa0);
	background-image: linear-gradient(to bottom, #D0A5C4, #b46fa0);
	background-repeat: repeat-x;
	border-color: #b46fa0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0A5C4', endColorstr='#b46fa0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled]{
	color: #FFFFFF;
	background-color: #b46fa0;
	*background-color: #003bb3;
}

.btn-kirigami {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #b46fa0;
	*background-color: #b46fa0;
	background-image: -moz-linear-gradient(top, #D0A5C4, #b46fa0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D0A5C4), to(#b46fa0));
	background-image: -webkit-linear-gradient(top, #D0A5C4, #b46fa0);
	background-image: -o-linear-gradient(top, #D0A5C4, #b46fa0);
	background-image: linear-gradient(to bottom, #D0A5C4, #b46fa0);
	background-repeat: repeat-x;
	border-color: #b46fa0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0A5C4', endColorstr='#b46fa0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-kirigami:hover,
.btn-kirigami:focus,
.btn-kirigami:active,
.btn-kirigami.active,
.btn-kirigami.disabled,
.btn-kirigami[disabled]{
	color: #FFFFFF;
	background-color: #b46fa0;
	*background-color: #003bb3;
}

.btn.btn-grisfonce {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #393939;
	*background-color: #393939;
	background-image: -moz-linear-gradient(top, #393939, #393939);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#393939), to(#393939));
	background-image: -webkit-linear-gradient(top, #393939, #393939);
	background-image: -o-linear-gradient(top, #393939, #393939);
	background-image: linear-gradient(to bottom, #393939, #393939);
	background-repeat: repeat-x;
	border-color: #dc2786;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#393939', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn.btn-grisfonce:hover,
.btn.btn-grisfonce:focus,
.btn.btn-grisfonce:active,
.btn.btn.btn-grisfonce.active,
.btn.btn-grisfonce.disabled,
.btn.btn-grisfonce[disabled]{
    background-position: 0 -15px;
    color: #FFFFFF;background-color: #393939;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.btn-gris {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ccc;
	*background-color: #ccc;
	background-image: -moz-linear-gradient(top, #ababab, #959494);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ababab), to(#959494));
	background-image: -webkit-linear-gradient(top, #ababab, #959494);
	background-image: -o-linear-gradient(top, #ababab, #959494);
	background-image: linear-gradient(to bottom, #ababab, #959494);
	background-repeat: repeat-x;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#959494', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-gris:hover,
.btn-gris:focus,
.btn-gris:active,
.btn-gris.active,
.btn-gris.disabled,
.btn-gris[disabled]{
	color: #FFFFFF;
	background-color: #959494;
	*background-color: #003bb3;
}
.btn-loupe {
    background: url("../Img/sprite.png") no-repeat scroll -796px -562px #cccccc;
    height: 30px;
    width: 20px;
}
.btn-loupe:hover {
    background: url("../Img/sprite.png") no-repeat scroll -796px -562px #eeeeee;
    height: 30px;
    width: 20px;
}
.SiteWidth {
	width:980px;
	margin:auto;
}
#javascriptehoh {display:none;}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

h1{
	color:#b46ea0;font-size:18px;text-transform:uppercase;font-weight:bold;
	border-bottom:1px solid #b46ea0;margin-bottom:10px;
}

h2{
	color:#b46ea0;font-size:14px;font-weight:bold;
}
/*li {
	list-style: disc inside;
}*/

/*-- STRUCTURE ---*/
div.innerL {
	background: url("../Img/dregrade-gauche.png") repeat-y ;
	margin-top:15px;
}
div.Left {
	margin-top: 11px;
    width: 240px;
	min-height:300px;
}
div.centre {
    width: 980px;
}
div.centreL .GaucheSalons {
	display:none;
}
/*div.centreL {
    margin-top: 10px;
}*/
div.EnteteGlobal{
	
}

div#Header {
	height: 140px;width:980px;
	position: relative;
	z-index: 10;

}

div#Bando {
	height: 171px;
	background: url("../Img/sprite.png") no-repeat  0 0 ;
}
/** Menu Medium */
#MenuBar {
	overflow:hidden;width:980px; height: 68px;
}

div#Main {
	min-height: 300px;
	position: relative;
	z-index: 1;
}
div#Englobe_Footer {
	
	position: relative;overflow:hidden;
	z-index: 10;
	background-color:#f0f0f0;font-size:12px;
}
div#Footer {
	border-bottom:1px dotted #393939;
	height:130px;
	overflow:hidden;
	padding-bottom:10px;
	padding-top:10px;
}
.FooterNiveau2 {
	position:relative;overflow:hidden;
	
}
div#Footer .colonne1 {
	width:192px;
	float:left;
	overflow:hidden;
}
div#Footer .colonne2 {
	width:232px;float:left;overflow:hidden;

}
div#Footer .colonne3 {
	width:215px;float:left;overflow:hidden;
}
div#Footer .colonne4 {
	width:190px;float:left;overflow:hidden;
}
div#Footer .colonne5 {
	width:145px;float:left;overflow:hidden;

}
div#Footer .colonne1 .MoyensPaiements {
	background: url("../Img/sprite.png") no-repeat  0 -872px;
	padding-top:10px;
	padding-left:30px;
	height:23px;
	font-weight:bold;
	font-size:14px;
}
/*div#Footer .colonne1 .MoyensPaiementsL2 { 
	font-weight:bold;
	font-size:14px;
	margin-left:10px;
}

div#Footer .colonne1 .MoyensPaiementsLogo { 
	background: url("../Img/sprite.png") no-repeat 0 -1053px;
	height:36px;
	display:block;
	width:100%;
	background-color:red;
	
}*/
div#Footer .colonne1 .MoyensPaiementsL2 {
	font-weight:bold;
	font-size:14px;
	margin-left:10px;
}
div#Footer .colonne1 .MoyensPaiementsLogo {
	background: url("../Img/sprite.png") no-repeat  0px -1053px;
    height: 30px;
}
div#Footer .colonne2 .Livraison {
	background: url("../Img/sprite.png") no-repeat  -477px -872px;
	font-weight:bold;font-size:14px;
    height: 36px;padding-left: 40px;padding-top: 6px;
}
div#Footer .colonne2 .LivraisonTexte {
	font-weight:normal;margin-right:10px;
}

div#Footer .colonne3 .Satifsfait {
	background: url("../Img/sprite.png") no-repeat  -941px -867px;
	padding-left:30px;padding-top: 6px;height:36px;
	font-weight:bold;font-size:14px;
}
div#Footer .colonne3 .SatifsfaitTexte {
	font-weight:normal;text-align:justify;margin-right:10px;
}

div#Footer .colonne4 .InscriptionNewsletter {
	background: url("../Img/sprite.png") no-repeat  0 -969px;
	padding-left:30px;padding-top: 6px;height:36px;
	height:36px;font-weight:bold;font-size:14px;
}
div#Footer .colonne4 .InscriptionNewsletterTexte {
	font-weight:normal;text-align:justify;margin-right:10px;
}

div#Footer .colonne5 .AvotreService {
	background: url("../Img/sprite.png") no-repeat  -477px -960px;
	padding-left:30px;padding-top: 6px;height:36px;
	font-weight:bold;font-size:14px;
}
div#Footer .colonne5 .AvotreServiceTexte {
	background: url("../Img/sprite.png") no-repeat scroll -941px -975px transparent;
    font-size: 16px;
    font-weight: bold;
    padding-left: 29px;
    padding-bottom:20px;
}
div#Footer .colonne5  a.AvotreService {
	color:#fff;background:none;
}
#FooterAbtel{
	text-align:right;
}
#FooterAbtel a{
	color:#393939;
	font-size:11px;
	font-style:italic;
}	

/* Affichage popup */

div.PopupBack {
	position:fixed;
	background-color:#000000;
	width:100%;height:100%;
	top:0;
	left:0;
	display:block;
	z-index:200;
	opacity:0.5;
}

/*---------- La Boutique -----*/
.SelectionProduits {
	position:relative;overflow:hidden;
	margin:20px 0;
}
.SelectionProduits .Titre{
	color: #b46ea0;
	font-weight:bold;
	font-size:18px;
	border-bottom:1px solid #b46ea0;
	padding-bottom:10px;
	text-transform:uppercase;
}
.SelectionProduits .NomProduit h2 {
	color: #b46ea0;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin: 24px 0 0;
    text-transform: uppercase;
}
.SelectionProduits .AccrocheProduit {
	color: #393939;font-weight:normal;font-size:12px;
}
.SelectionProduits img {
	border:1px solid #ccc;
}
.SelectionProduits .Details {
	position:relative;overflow:hidden;
}
.SelectionProduits .Details .Tarif {
	float:right;margin-right:1px;
	color: #b46ea0;font-weight:bold;font-size:18px;
}
.SelectionProduits .DetailsSous  {
	position:relative;overflow:hidden;
}
.SelectionProduits .LesDetails{
	 height: 45px;
    margin-bottom: 15px;
    margin-top: -5px;
    width: 216px;
}
.SelectionProduits .DetailsSous a.loupelien {
	float:left;
	color: #b46ea0;font-weight:normal;font-size:12px;
	padding-left:12px;
	background: url("../Img/sprite.png") no-repeat  -10px -1145px ;
}
.SelectionProduits .DetailsSous a.panierliste {
	background: url("../Img/sprite.png") no-repeat  -122px -1144px ;
	float:right;
	color: #b46ea0; font-weight:normal; font-size:12px;
	padding-left:15px;
}
.SelectionProduits .LesDetails:hover {
	background-color:#f8f8f8;
}

/*--- Gestion du compte --*/
div.user {
	overflow:hidden;
	position:relative;width:980px;margin:0;padding:0;
}
.user h1{
	color:#b46ea0;
	border-bottom: medium none;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.user h2, .user h3 {
    color: #393939;
    font-size: 16px;
    font-weight: bold;
    padding-top: 0;
}
.ColonneCreationCompteBord h2 {
    border-bottom: medium none;
    color: #b46ea0;
}

div.user .Login , div.user .CreeCompte{
     	border: 1px solid #b46ea0;
    	display: block;
    	margin-top: 10px;width:935px;
	padding:10px;overflow:hidden;
}

.user .Login .BoutonsCentre {
	float:right;
}
div.user input.Connexion {
    margin: 20px 0 8px 50px;
}
.ColonneCreationCompte .LigneForm label {
    display: block;
    float: left;
    padding: 0px;
    position: relative;
    width: 138px;
}
.ColonneCreationCompte .Panel {
	margin:0px;
	padding:0px;
}
.ColonneCreationCompteBord h3 {
    color: #393939;
    margin: 0px;
}
.ColonneCreationCompte ul li {
	list-style:none;
	background: url("../Img/sprite.png") no-repeat  0 -883px;
	padding-left:10px;margin:5px;
}
.ColonneCreationCompte .BoutonsFin input {
    margin-left:0px;
}
p.LesChamps{
	color:#393939;
}
/* Liste News **/
.ListeNews .UneNews {
	border-bottom:1px solid #b46ea0;
	padding-bottom:10px;
	margin-bottom:10px;
}

ul.ListeNews li {
	list-style:none;
	background: url("../Img/sprite.png") no-repeat  0 -883px;
	padding-left:10px;
}
ul.ListeNews li.currentPage a {
	color:#393939;font-weight:bold;
}

/** mon compte --*/
	div#UserHome a.Bloc {
    width: 202px;
}
h2.moncompte  {
	color:#b46ea0;padding:0;margin:0;margin-left:10px;
}
div.AdresseGene {
	margin:20px 0;
}
div.Adresse {
	border-bottom:1px solid #b46ea0;
	border-top:none;
	border-right:none;
	border-left:none;
    	margin: 10px;
    	overflow: hidden;
    	padding: 0;
}
div.Adresse .Buttons {
	margin-top:20px;
}
div.AdresseGene a.btn {
	text-transform:uppercase;color:#fff;font-size:12px;
}
div#UserHome a.Bloc {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	border-right:1px solid #b46ea0;
}

a.ModifierAdresse {
	text-align:center;text-transform:uppercase;color:#fff;margin-top: 40px;
}
a.ModifierMonCompte , a.MesAdressesLivraison, a.MesAdressesFacturation, a.HistoriqueCommandes  {
	background:url("../Img/sprite.png") no-repeat;
	padding-left:40px;
	height:40px;
	float:left;text-align:justify;
}
a.ModifierMonCompte {
	background-position:-43px -1211px;
}
a.MesAdressesLivraison {
	background-position:-296px -1211px;
}
a.MesAdressesFacturation {
	background-position:-589px -1211px;
}
a.HistoriqueCommandes {
	background-position:-838px -1211px;
}


/* -- Etapes de commandes ---*/

.table th, .table td  { text-align:left;}

.table th.SupprimerItem {
    background: url("../Img/sprite.png") no-repeat scroll 17px -1222px transparent;
    padding-left: 18px;
}
.InputBtnPlus, .InputBtnMoins {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #FF0000;
}
.btn {
    font-size: 14px;
}
.CommandeEtape1 {
	margin-top: 10px;
	padding: 0 ;
}
.CommandeEtape1 table th, .CommandeEtape3 table th, .CommandeEtape4 table th{
	font-size: 12px;
	background-color:#fff;
   	text-transform:uppercase;
	font-weight:bold;
	padding:10px;
	text-align:center;
}
.CommandeEtape1 table td, .CommandeEtape3 table td, .CommandeEtape4 table td{
	text-align:center;
}
.CommandeEtape1 table th.gauche, .CommandeEtape3 table th.gauche, .CommandeEtape4 table th.gauche{
	text-align:left;
}
.CommandeEtape1 table td.gauche, .CommandeEtape3 table td.gauche, .CommandeEtape4 table td.gauche{
	text-align:left;
}
.CommandeEtape1 table td a, .CommandeEtape3 table td a{
	color:#393939;
}
.CommandeEtape1 .LaQuantite input{
	width:20px;
	padding:0;
}
.CommandeEtape1 .BoutonPlus, .CommandeEtape1 .BoutonMoins{
	color:#db2484;
}
.CommandeEtape1 .BoutonPlus input.InputBtnPlus, .CommandeEtape1 .BoutonMoins input.InputBtnMoins{
	color:#db2484;
	font-size:16px;
}


.CommandeEtape1 h1,.CommandeEtape2 h1,.CommandeEtape3 h1,.CommandeEtape4 h1 { border:none;}


a.FondStep1,a.FondStep2,a.FondStep3,a.FondStep4,   a.FondStep1Active, a.FondStep2Active, a.FondStep3Active, a.FondStep4Active {
    	background: url("../Img/sprite.png") no-repeat  ;
     	height:71px;
    	position:relative;float: left;
}

a.FondStep1,a.FondStep2,a.FondStep3,a.FondStep4{
	z-index:100px;font-size:0;text-indent:2500px;width:245px;
}
a.FondStep1Active,a.FondStep2Active,a.FondStep3Active,a.FondStep4Active {
	z-index:200px;font-size:0;text-indent:2500px;width:245px;
}

a.FondStep1{
	background-position:0 -1112px;
}
a.FondStep2{
	background-position:-245px -1112px;
}
a.FondStep3 {
	background-position:-491px -1112px;
}
a.FondStep4 {
	background-position:-731px -1112px;
}

a.FondStep1Active{
	background-position:0 -1028px;
}
a.FondStep2Active{
	background-position:-245px -1028px;
}
a.FondStep3Active {
	background-position:-491px -1028px;
}
a.FondStep4Active{
	background-position:-731px -1028px;
}

table.tCommande { width:980px;}


.ColonneCreationCompte {
padding:0px;
}
.CommandeEtape2 .ColonneIdentificationNew {
       width: 48%;min-height: 140px;
}
.CommandeEtape2 .ColonneIdentificationClient .BoutonsCentre {
     padding-top: 0;
}
.CommandeEtape2 .ColonneIdentificationClient .BoutonsCentre input.Connexion {
    float: right;
 
}
.CommandeEtape2 .ColonneIdentificationNew .BoutonsCentre input {
     padding-top: 0;margin-top:30px;float:right;
}

.Etape3 , .Etape4 { margin-top:10px;    overflow: hidden;}
.Etape3 table.TotalDetaille  {
	background:none;
	padding-top: 10px;
}

.Etape3 table.TotalDetaille tr {
	background-color:#b46ea0; 
}

.CommandeEtape3 table.TotalDetaille td.label, .CommandeEtape3 table.TotalDetaille td.val {color:#fff;font-weight:bold;background:none;}
.CommandeEtape3 table.TotalDetaille td.label {width: 230px;}
.CommandeEtape3 table.TotalDetaille td.val {
	border-left:1px dotted #fff; margin-left:5px;
}
.CommandeEtape3 table.TotalDetaille tr.vide  {
	height:20px;background-color:transparent;
}

.Etape3 .LigneBoutons .BoutonsDroite input { margin-right:0;}



.Etape4 table.TCodePromo , .Etape4 table.TotalDetaille , .Etape4 table.ModeDePaiement , .Etape4 table.AccepterCGV {
	width:400px;
}


.Etape4 table.TotalDetaille  {
	background:none;
	padding-top: 10px;
}

.Etape4 table.TotalDetaille tr {
	background-color:#b46ea0; 
}

.CommandeEtape4 table.TotalDetaille td.label, .CommandeEtape4 table.TotalDetaille td.val {color:#fff;font-weight:bold;background:none;}
.CommandeEtape4 table.TotalDetaille td.label {width: 230px;}
.CommandeEtape4 table.TotalDetaille td.val {
	border-left:1px dotted #fff; margin-left:5px;
}
.CommandeEtape4 table.TotalDetaille tr.vide  {
	height:20px;background-color:transparent;
}
.Etape4 .LigneBoutons  { margin:0;}
.Etape4 .LigneBoutons .BoutonsGauche input { margin-top:30px;}
.Etape4 .LigneBoutons .BoutonsDroite input { margin-right:10px; margin-top:0;}

/*--- Popup Panier---*/
#lemodal {
    width: 630px;
}
.modal-body {
    max-height: 400px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 630px;
}
.modal-header {
    border-bottom: 1px solid #EEEEEE;
    padding: 9px 15px 20px;
}
.PopupPanier { position:relative;overflow:hidden;}
.PopupPanier h3 { color:#393939;font-weight:bold;font-size:18px;}
.PopupPanier .Image { 
	float:left;
	margin-right:10px;
	margin-right: 10px;
    margin-top: 10px;
}
.PopupPanier .BlocPanier { 
	float: none;
	margin-right:10px; 
	position:relative;
	overflow:hidden;
}
.PopupPanier .Accro {
    border-bottom: 1px dotted #b46ea0;
    color: #b46ea0;
    font-size: 16px;
}
.Popinfo {
    height: 60px;
    margin-top: 15px;
}
.PopupPanier .BlocPanier .NomTarif { 
	position:relative;
	overflow:hidden;
	width:370px;
}
.PopupPanier .BlocPanier h2 {
	text-transform:uppercase;
	color:#b46ea0;
	font-size:20px;
	float: left;
	width: 280px;
}
.PopupPanier h3 {
    color: #393939;
    font-size: 18px;
    font-weight: bold;
}
.PopupPanier .BlocPanier .Tarif { 
	color: #b46ea0;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-top: 8px;
}
.PopupPanier .BlocPanier .Desc{ color:#b46ea0;font-size:18px;}
.PopupPanier .BlocPanier .Decli { color:#b46ea0;font-size:14px;font-weight:bold;}
.PopupPanier .BlocPanier .Qte { 
	color:#b46ea0;
	font-size:14px;
	font-weight:bold;
}


.btnRight { 
	position:relative;
	float:right;
	margin:10px;
}

/** Fiche produit **/
	
.FicheProduit .fiche_descriptionhaut{
	border-bottom: 1px dotted #b46ea0;
	padding-bottom: 10px;
}
.prix{
	text-align:right;
}
span.barre{
	text-decoration: line-through;
}
.AttributGraphique {
	display: block;
	float: left;
	margin: 5px;
	text-align: center;
}
.BlocFichDeclinaisonsLibelle{
	clear:both;
}


div.Pagination {
	margin: 10px 0;padding:0 10px 0 0;
	text-align: center;
	background: url('../Img/sprite.png') repeat-x 0 -665px ;
}

div.PaginationBody {
	background: white;
	display: inline;
	padding: 0 10px;
}

div.Pagination a {
	padding: 0 10px;
	margin: 0 1px;
}

div.Pagination a.PagiFirst, div.Pagination a.PagiPrev, div.Pagination a.PagiNext, div.Pagination a.PagiLast {
	background: url("../Img/sprite.png") no-repeat white;width:46px;
}

div.Pagination a.PagiFirst {
	background-position:0 -702px;
}

div.Pagination a.PagiPrev {
	background-position:  -23px -702px  ;
}

div.Pagination a.PagiNext {
	background-position:-126px -702px  ;
}

div.Pagination a.PagiLast {
	background-position:   -148px -702px  ;
}
