<section>
	<h2>Déjà adhérent</h2>
	<div id="msg"  class="alert alert-danger"></div>
	<div class="row" style="height:10px"></div>
	<h3>Entrez votre Numéro d'adhérent ou votre nom ainsi qu'une adresse mail ou un numéro de téléphone</h3>
	<div class="row" style="height:10px"></div>
	<form method="POST" id="checkAdherent">
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">N° adhérent</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" placeholder="Numéro à 6 chiffres" id="Numero" name="Numero" style="widht: 150px"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">Nom de famille</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" placeholder="Nom" id="Nom" name="Nom" onkeyup="this.value = this.value.toUpperCase();"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">Prénom</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" id="Prenom" name="Prenom" readonly/>
				</div>
			</div>
			<div class="row" style="height:10px"></div>
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">Adresse mail</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" placeholder="Adresse mail" id="Mail" name="Mail"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">Téléphone</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" placeholder="Téléphone" name="Tel"/>
				</div>
			</div>
			<div class="row" style="height:10px"></div>
			<input type="submit" class="btn btn-success btn-block" id="Valider" name="Valider" value="Valider" />
			<input type="hidden" name="ValidForm" id="ValidForm" value="1"/>
		</div>
	</form>
	<a href="/" class="btn btn-warning btn-block">Annuler</a>
</section>
<style>
	@media screen and (min-width: 768px) {
		.modal-dialog {
			padding-top: 50px !important;
		}
	}
</style>
<script>
	$(document).ready(function (e) {
		$('#checkAdherent').on('submit', function (e) {
			e.preventDefault();
			$.ajax({
				dataType: "json",
				url: "/Systeme/checkAdherent.json",
				data: $('#checkAdherent').serialize(),
				method: 'POST'
			}).done(function (response) {
				var resp = JSON.parse(response);
				console.log(resp);
				if (resp.success) {
					//$('#checkAdherent').css('display','none');
					$('#msg').html(resp.message);
					$('#Numero').val(resp.data.Numero);
					$('#Nom').val(resp.data.Nom);
					$('#Prenom').val(resp.data.Prenom);
					$('#Mail').val(resp.data.Mail);
					$('#Valider').attr('value','Continuer');
					$('#ValidForm').val("2");
				} else {
					$('#msg').html(resp.message);
				}
			});
		});
	});
</script>