<section class="col-md-12 center-block">
	<h5>Je suis déjà adhérent du CADREF.</h5>
	<div id="msg"  class="alert alert-danger" hidden></div>
	<div class="row" style="height:10px"></div>
	<form method="POST" id="checkAdherent">
		<div class="form-group">
			<div id="saisie">
				<h3>Je connais mon numéro d'adhérent (N° de carte) :</h3>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">N° adhérent</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" placeholder="Numéro adhérent à 6 chiffres" id="CadrefNumero" name="CadrefNumero" style="widht: 150px"/>
					</div>
				</div>
				<h3>Sinon je renseigne mon nom et prénom :</h3>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Nom de famille</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" placeholder="Nom de famille" id="CadrefNom" name="CadrefNom" onkeyup="this.value = this.value.toUpperCase();"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Prénom</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" placeholder="Prénom" id="CadrefNom" name="CadrefPrenom" onkeyup="this.value = this.value.toUpperCase();"/>
					</div>
				</div>
				<div class="row" style="height:10px"></div>
				<h3>Je saisis ensuite mon adresse mail ou mon numéro de téléphone :</h3>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Adresse mail</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" placeholder="Adresse mail" id="CadrefMail" name="CadrefMail"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Téléphone</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" placeholder="Téléphone" id="CadrefTel" name="CadrefTel"/>
					</div>
				</div>
			</div>
			<div id="affiche" hidden>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">N° adhérent</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefNumero1" name="CadrefNumero1" style="widht: 150px" readonly/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Nom de famille</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefNom1" name="CadrefNom1" readonly/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Prénom</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefPrenom1" name="CadrefPrenom1" readonly/>
					</div>
				</div>
				<h3>Certaines informations peuvent être tronquées pour des raisons de confidentialité.</h3>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Adresse</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefAdresse1" name="CadrefAdresse1" readonly/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Ville</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefVille1" name="CadrefVille1" readonly/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Adresse mail</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefMail1" name="CadrefMail1" readonly/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="form-control-label cadref-label" style="line-height:1.1">Téléphone</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control cadref-input" id="CadrefTel1" name="CadrefTel1" readonly/>
					</div>
				</div>
			</div>
			<div class="row" style="height:20px"></div>
			<input type="submit" class="btn btn-success btn-block" id="Valider" name="Valider" value="Vérifier mon identité" />
			<input type="hidden" name="ValidForm" id="ValidForm" value="1"/>
		</div>
	</form>
	<a href="/" class="btn btn-warning btn-block" id="Annuler">Annuler</a>
	<div class="spin-mask"></div>
</section>
<script>
	$(document).ready(function (e) {
		$('#checkAdherent').on('submit', function (e) {
			e.preventDefault();
			$('.spin-mask').spin().addClass('actif');
			$.ajax({
				dataType: "json",
				url: "/Systeme/checkAdherent.json",
				data: $('#checkAdherent').serialize(),
				method: 'POST'
			}).done(function (response) {
				var resp = JSON.parse(response);
				console.log(resp);
				if (resp.success) {
					if(resp.ValidForm == "2") {
						$('#CadrefNumero1').val(resp.data.Numero);
						$('#CadrefNom1').val(resp.data.Nom);
						$('#CadrefPrenom1').val(resp.data.Prenom);
						$('#CadrefAdresse1').val(resp.data.Adresse);
						$('#CadrefVille1').val(resp.data.Ville);
						$('#CadrefMail1').val(resp.data.Mail);
						$('#CadrefTel1').val(resp.data.Tel);
						$('#Valider').attr('value', 'Continuer');
						$('#saisie').hide();
						$('#affiche').show();
						$('#msg').removeClass('alert-danger');
						$('#msg').addClass('alert-success');
					}
					if(resp.ValidForm == "3") {
						$('#Valider').hide();
						$('#Annuler').text('Retour');
					}
					$('#ValidForm').val(resp.ValidForm);
				}
				else {
					$('#msg').removeClass('alert-success');
					$('#msg').addClass('alert-danger');
				}
				$('#msg').html(resp.message);
				$('#msg').show();
				$('.spin-mask').removeClass('actif').spin(false);
			});
		});
	});
</script>