<section class="col-md-12 center-block">
	<h5>J'ai oublié mon mot de passe.</h5>
	<div id="msg"  class="alert alert-danger" hidden></div>
	<div class="row" style="height:10px"></div>
	<form method="POST" id="changePassword">
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">Code utilisateur</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" placeholder="Code utilisateur" id="CadrefLogin" name="CadrefLogin"/>
				</div>
			</div>
			<div class="row" style="height:10px"></div>
			<div class="row">
				<div class="col-md-4">
					<label class="form-control-label cadref-label" style="line-height:1.1">Adresse mail</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control cadref-input" placeholder="Adresse mail" id="CadrefMail" name="CadrefMail"/>
				</div>
			</div>
			<div class="row" style="height:20px"></div>
			<input type="submit" class="btn btn-success btn-block" id="Valider" name="Valider" value="Valider" />
		</div>
	</form>
	<a href="/" class="btn btn-warning btn-block" id="Annuler">Annuler</a>
	<div class="spin-mask"></div>
</section>
<script>
	$(document).ready(function (e) {
		$('#changePassword').on('submit', function (e) {
			e.preventDefault();
			$('.spin-mask').spin().addClass('actif');
			$.ajax({
				dataType: "json",
				url: "/Systeme/changePassword.json",
				data: $('#changePassword').serialize(),
				method: 'POST'
			}).done(function (response) {
				var resp = JSON.parse(response);
				console.log(resp);
				if (resp.success) {
					$('#Valider').hide();
					$('#Annuler').text('Retour');
				} 
				$('#msg').html(resp.message);
				$('#msg').show();
				$('.spin-mask').removeClass('actif').spin(false);
			});
		});
	});
</script>