body {
	font-size:12px;
	line-height: 20px;
	cursor: pointer;

}
/** GLOBAL **/
a,h1,h2,h3,h4,h5,h6,span{
	font-family: 'Baloo', cursive;
}

h1 {
	font-size:1.8em;
}
h2 {
	font-size:1.7em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.3em;
}
h5 {
	font-size:1.2em;
}
h6 {
	font-size:1.1em;
}
p{

	font-size:1em;
}

.container{
	width:1170px;
	padding:0;
}
/*****************************************************
*			HEADER									 *
 *****************************************************/
/* MENU */
.nav ul {
	margin: 0px;
	padding: 0px;
	background: #d7d7d7;
	list-style:none;
	height:3em;
}
#partenaires ul.partner {
	margin: 0px;
	padding: 0px;
	list-style:none;
	height:25px;
}

.nav a, #partenaires .partner a {
	padding: 1em;
	display: block;
	text-align:center;
	text-decoration: none;
	color: #333;
}
.nav .menu,#partenaires .partner{
	display: flex; /*1*/
	flex-direction : row; /*2*/
	justify-content: center; /*3*/
	font-size: 1.5em;
}
#partenaires{
	height: 70px;
}
/** SUBMENU **/
#submenu .square{
	display: block;
	height:210px;
	padding:70px 0 0 20px;
}
.square.blue{
	background-color: #37c3e4;
}
.square.green{
	background-color: #a7c330;
}
.square.pink{
	background-color: #ed69a3;
}
#submenu {
	margin:10px -10px 0 5px;
	background-color: #d7d7d7;
}
#submenu > .container{
	width:1170px;
	padding:0 10px;
}
#submenu .square h3,#submenu .square p{
	margin:0;
	color: #0A246A;
	line-height:1em;

}
#submenu .square h3 {
	font-size:2em;
}
#submenu .square p{
	font-size:1.17em;
}

#submenu a.square,#submenu a.square:hover, #submenu a.square:hover h3, #submenu a.square:hover p{
	color: #0a5db8;
	text-decoration: none;
}
/* ESPACE PRO */
.espacepro {
	display:block;
	width:200px;
	background-color: #000;
	color: white;
	text-align: center;
	line-height:1em;
/*
	a voir changement menu du haut
	height:3.4em;
 */

	height: 3em;
	font-size: 1.5em;

}
.espacepro a{
	line-height:3.4em;
	color: #fff;
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
}
/** BUTTON **/
.btn-dark{
	background-color: black;
	background-image: none;
	border-radius: 0;
	display: block;
	padding: 17px;
	color: #fff;
}
.input-dark{
	border-radius: 0;
	border-color: black;
	border-width: 3px;
	padding: 23px;
	filter: unset;
	margin-top:20px;
}
/** LOGO **/
.logo{
	/*
	à voir pour caler tout le haut
	text-align: center;
	margin:10px;
*/
	text-align: left;
	margin: 6px 66% 6px 0;
}

/*****************************************************
*			FOOTER									 *
 *****************************************************/
/** NEWS */
.home-news, .home-link{
	display: block;
	width:100%;
	height:300px;
}
#footer .container{
    padding:0 10px;
}
#news, #liens{
	margin-bottom:10px;
}
#news .col-lg-4, #liens .col-lg-6{
	padding-right: 5px;
	padding-left: 5px
}
.home-link > div {
	background-size: cover;
	filter: saturate(100%) contrast(1.6);
}
.home-link > a:hover {
	background-size: cover;
	filter: saturate(100%) contrast(5) grayscale(1);
}
.home-link > a {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding: 17% 12% 17% 22%;
	color: white;
	text-decoration: none;
	text-align: center;
}
.home-link > a > span {
	display: block;
	float: right;
	width: 70%;
	padding:15px 10px;
	text-align: left;
	font-size:x-large;
}
.home-link > a > i {
	margin:auto;
	float: left;
}
#partenaires{
	margin: 50px 0;
}
#footerlinks{
	padding:0 100px;
}
#footerlinks > div {
	display: block;
	height:200px;
	position: relative;
	margin-bottom:20px;
}
#footerlinks h3 {
	font-size:1.8em;
}
.to-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#footer .facebooklink { margin-top:-8px;display:block;}

/*****************************************************
*			SPECTACLE								 *
 *****************************************************/
/*CONTENT*/
#content{
	margin-bottom:5px;
}
#content .container{
 /*   padding:0;*/
}
#content .container form > div.row{
   /* margin-left:0;
    margin-right:0;*/
}
/*FILTERS*/
#filters a.btn-css34{
	display: block;
	border-radius:0;
	color: #000;
	margin:5px;
	line-height:1.5em;
	text-transform: uppercase;
	text-align: left;
}
#filters a.selected{
	box-shadow: 0 0 12px #a2a2a2;
	margin:15px;
}
#filters{
	padding:0;
}
.input-css34,.select-css34,.submit-css34{
	display: block;
	width: calc(100% - 10px);
	border: 2px solid black;
	margin:5px;
	height:3em;
	padding:5px;
	line-height: 2em;
	font-family: 'Baloo', cursive;
	font-size:13px;
}
.submit-css34{
	color: #fff;
	background-color: black;
}
.select-css34 {
	line-height:0.8em;
}
/*LIST*/

#spectacle{
	padding:0;
}
.spectacles-list-reset{
	column-count: 1;
}
.spectacles-list-reset > .card{
	width:33.3333% !important;
	display: block !important;
}
.spectacles-list{
	margin:0;
	column-count: 3;
	column-gap:0;
}
.spectacles-list .card {
	width:100%;
	margin:0;
	display: inline-block;
}
.spectacle-item{
	width:calc(100% - 10px);
	margin:5px;
	display: block;
	position: relative;
	height:162px;
}
.spectacle-item img{
	width:50%;
	height:100%;
}
.spectacle-item .card-body {
	position: absolute;
	width:50%;
	left:50%;
	top:0;
	height:100%;
	padding:5px;
	color: #000;
}
.big .spectacle-item{
	width:calc(100% - 10px);
	margin:5px;
	display: block;
	position: relative;
	height:334px;
}
.big .spectacle-item img{
	width:100%;
}
.big .spectacle-item .card-body {
	position: absolute;
	width:50%;
	left:50%;
	top:50%;
	height:50%;
	padding:5px;
	color: #000;
}
.spectacle-item .card-body > p.card-text{
    font-family: 'Open Sans', cursive;;
    font-size:11px;
    margin:0;
}
.spectacle-item .card-body > p.card-text:first-child{
    font-family: 'Baloo', cursive;
    text-transform: uppercase;
}
.spectacle-item .card-body > h5{
    font-family: 'Baloo', cursive;
    text-transform: uppercase;
    font-size:12px;
}

/*FICHE*/
#spectacle-fiche{
    margin: 10px 0;
    padding:0;
}
#spectacle-fiche .fiche-propriete{
    margin: 0;
}
#spectacle-fiche .fiche-propriete div{
    font-family: 'Baloo', cursive;
}

#spectacle-fiche .fiche-propriete > .col-lg-1{
    margin: 10px 0 0 10px;
    width: calc(8.33333333% - 10px);
}
#spectacle-fiche .fiche-propriete > .col-lg-3{
    margin: 10px 0 0 10px;
    width: calc(25% - 10px);
}
#spectacle-fiche .fiche-propriete > .col-lg-6{
    margin: 10px 0 0 10px;
    width: calc(50% - 10px);
}
#spectacle-fiche .fiche-propriete > .col-lg-3:first-child{
    margin: 10px 0 0 0;
    width: calc(25%);
    color: white;
}
#spectacle-fiche .fiche-propriete > .col-lg-9:first-child{
    margin: 10px 0 0 0;
    width: calc(75%);
}
#spectacle-fiche .fiche-propriete > .col-lg-11:first-child{
    margin: 10px 0 0 0;
    width: calc(91.66666667%);
}
#spectacle-fiche .fiche-propriete > .col-lg-11:first-child > a {
    color: #fff;
}
#spectacle-fiche .col-lg-8 {
    padding:0 5px 0 0;
}
#spectacle-fiche .fiche-propriete > div{
    height:45px;
    background-color: #ffdaa1;
    line-height:3em;
    text-transform: uppercase  ;
}
#spectacle-fiche #description {
    padding:0 0 0 5px;
}

#spectacle-fiche #description > h1{
    background-color: #ffdaa1;
    margin-top:0;
    padding:20px;
    color: #fff;
}
#spectacle-fiche #description > img {
	object-fit: initial;
}
#spectacle-fiche #description > p {
    margin:10px 0 10px 0;
    text-align: justify;
}
/** TIMELINE **/
.timeline-container{
	width:100%;
	background-color: red;
	height:60px;
	overflow: hidden;
	display: flex; /*1*/
	flex-direction : row; /*2*/
	justify-content: flex-start; /*3*/
}
.timeline-item{
	width: 40px;
	height: 60px;
	display: block;
	border: 1px solid #d2d2d2;
	background-color: #e5e5e5;
	text-align: center;
}
.timeline-item h6{
	font-size: 21px;
	margin-top: 0;
	color: #666;
	font-weight: lighter;
}
.timeline-item span{
	margin-top: 13px;
	line-height: 10px;
	font-size: 8px;
	color: #333;
	font-weight: 400;
	display: block;
}
.timeline-item.selected{
	background-color:#ffdaa1;
}

/****** CONTENU *******/
#cms-page{
/*	background-color: plum;*/
	margin-bottom: 10px;
	padding: 10px;
}
#cms-page .row { margin:0;}

#cms-page .col-md-12,
#cms-page .col-lg-12,
#cms-page .col-xs-12
{ margin:0; padding:0;}

.BlocImgCover img {
	object-fit: cover;
	width:100%
}
.Bloc3Col {
	margin: 20px;
	padding:20px;
	height:500px;
	text-align:justify;
	line-height: 2em;
}
.blocEcritureBlanc {
	color:#fff;
	text-align:left;
	font-size: 1.2em;
	line-height: 1.2em;
}
.blocEcritureBlanc h5{
	font-size:1.1em;	color:#fff;
}

#partenaires .autres {
	padding:20px;
}
/*.Publicite.BlocImgCover figure { margin:-9px;}*/

.dvContent .cms-col > .SaisieContenu.Contenu {
	margin:10px -10px;
}

.dvContent .cms-col > .SaisieContenu.Contenu.blocPadding15 {
	margin:10px 0;
}