<div id="SiteVeto1" style="background-color: #000; width: 100%; height: auto;" class="page_{{ menClass }} Atterissage ">
{#    <div style="text-align:center">#}
{#        <video src="/Skins/VetoccitanLVFComm/Images/StompOpener.mp4" autoplay="autoplay" loop="loop" width="100%"></video>#}
{#    </div>#}
    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/465809707?autoplay=1&loop=1&title=0&byline=0&portrait=0&backgroun=1"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                frameborder="0" allow="autoplay; fullscreen" allowfullscreen
                data-ready="true"></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <div style="padding: 10% 25%;">

        <form method="post" class="Contact">
            <div class="row">
                    <h1>Nous Contacter</h1>
                    </br>
                <div class="form-group">
                    <label for="nom" class="labelform">Nom :</label>
                    <input type="text" id="nom" class="inputform form-control" name="nom">
                </div>

                <div class="form-group">
                    <label for="prenom" class="labelform">Prénom :</label>
                    <input type="text" id="prenom" class="inputform form-control" name="prenom">
                </div>

                <div class="form-group">
                    <label for="mail" class="labelform">Adresse mail de contact :</label>
                    <input type="mail" id="mail" class="inputform form-control" name="email">
                </div>

                <div class="form-group">
                    <label for="numero" class="labelform">Téléphone :</label>
                    <input type="text" id="numero" class="inputform form-control" name="telephone">
                </div>
                <div class="form-group">
                    <label for="message" class="labelform">Message :</label>
                    <textarea id="message" class="textform form-control" name="message"></textarea>
                </div>
                    <input type="text" id="flag" class="inputform" hidden name="flag">

                    <button type="submit" class="btn btn-warning">Envoyer</button>
            </div>
        </form>

    </div>

</div>


{#<div class="row" style="padding-top: 50px;">#}
{#    <div class="col-lg-4">#}
{#        <div style="height: 125px;width: 2px;background-color: #ffd132;position: absolute;left: 275px;bottom: -30px;"></div>#}
{#        <h2>Nicolas Lapetina</h2><br>#}
{#        <div style="color:#fff; font-family: Georgia">06 74 85 85 83</div>#}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <div style="height: 125px;width: 2px;background-color: #ffd132;position: absolute;left: 275px;bottom: -30px;"></div>#}
{#        <h2>Julien Visse</h2><br>#}
{#        <div style="color:#fff; font-family: Georgia">06 82 29 12 53</div>#}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <h2>Romain Fromilhague</h2><br>#}
{#        <div style="color:#fff; font-family: Georgia">07 68 52 57 39</div>#}
{#    </div>#}
{#</div>#}