{% macro template_nouvelle_fiche() %}
    {% verbatim %}
        <template id="nouvelle-fiche" inline-template>
            <div class="row" >
                <div class="col-lg-12">
                    TODO
                </div>
            </div>
        </template>
    {% endverbatim %}
{% endmacro %}