<template>
    {% verbatim %}
        <div class="row" id="nouvelle-fiche" v-if="display">
            <div class="col-lg-12">
                <h1>{{ nouvelle.Titre }}</h1>
            </div>
        </div>
    {% endverbatim %}
</template>

<script>
    module.exports = {
        name: 'nouvelle-fiche',
        data: function () {
            return {
                loaded: false,
                display: false,
                currentUrl: '',
                nouvelle: {Nom: 'ZOB'}
            }
        },
        methods: {
            getData: function (url) {
                var me = this;
                axios
                    .get('/News/Nouvelle/'+url+'/getOneData.json')
                    .then(function (response) {
                        me.nouvelle = response.data;
                        me.loaded = true;
                        me.display = true;
                        //me.display = me.spectacle = me.spectacle.Url;
                    });
            }
        },
        watch : {
            $route: function () {
                console.log('before route watch',window.spec.nouvelle);
                var to = this.$route.params.url;
                if (to == undefined)  return false;
                if (window.spec.nouvelle){
                    this.nouvelle = window.spec.nouvelle;
                    this.display = true;
                }else this.display = false;

                if (!this.loaded||this.currentUrl!=to){
                    this.loaded = false;
                    this.getData(to);
                }
            }
        },
        mounted: function () {
            var url = this.$route.params.url;
            if (!this.loaded||this.currentUrl!=url){
                this.loaded = false;
                this.getData(url);
            }
        }
    }
</script>

<style>
</style>