
.hidden{
    display: none;
}


.pagination {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#tCount,
#eCount,
#rCount{
    background-color: #fb434a;
    color: #fff;
    border-radius:30px;
    display: inline-block;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
}
#eCount.success{
    background-color: #46be8a;
}
#rCount {
    background-color: #01a8fe;
}
progress.progress.progress-danger{
    position: relative;
}
progress.progress.progress-danger:after{
    content: attr(value)'%';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-left: -25px;
    margin-top: -8px;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}
.dropdown-item-wrap{
    padding: 0 15px;
    width: 800px;
}
.dropdown-item-right{
    float: right;
    margin-left: 5px;
}
.dropdown-item-left{
    float: left;
}

.prio_allGood{
    color: #46be8a;
}
.prio_NC{
    color: #acb7bf;
}
.prio_Info{
    color: #01a8fe;
}
.prio_Warning{
    color: #FFC859;
}
.prio_Moyenne{
    color: #f39834;
}
.prio_Haute{
    color: #E97659;
}
.prio_Desastre{
    color: #fb434a;
}

.inverted{
    display: none;
}

.form-control-label{
    font-weight:600;
}
.cat-title{
    background-color: #ddd;
    padding: 3px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.detail-label{
    position: relative;
}
.detail-label:after{
    position: absolute;
    right: 0;
    top:10px;
    content: ' ';
    border-left: 10px solid #ddd;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

}
.detail-value{
    text-align: center;
}
.detail-value > span{
    display: inline-block;
    padding: .375rem .75rem;
    margin-bottom: 0;
    word-break: break-word;
}

#activity_list{
    width:100%;
}
#activity_list .activity_title.success{
    /*background-color: rgba(70,190,138,0.4);!*HEx :#46be8a;*!*/
    border-left: 45px solid #46be8a;
}
#activity_list .activity_title.error{
    /*background-color: rgba(251,67,74,0.4);!*HEx :#fb434a;*!*/
    border-left: 45px solid #fb434a;
}
#activity_list .activity_title.info{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #01a8fe;
}
#activity_list .activity_title.info_error{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #fba8fe;
}
#activity_list .activity_title.running{
    /*background-color: rgba(172,183,191,0.4);!*HEx :#acb7bf;*!*/
    border-left: 45px solid #f39834;
}
#activity_list .activity_title.stopped{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #444;
}
#activity_list .activity_title{
}
#activity_list .activity_progress{
    width: 150px;
}
#activity_list .activity_progress .progress-bar{
    height: 100%;
}
#activity_list .activity_progress > .progress{
    vertical-align: middle;
}
#activity_list .activity_start{
    width:175px;
    text-align: center;
}
#activity_list tr{
    border-bottom:1px solid #eee;
}
#activity_list tr.cursor{
    cursor: cell;
}

#activity_list td{
    padding: 5px 10px;
}
#activity_list th{
    text-align: center;
}
#activity_list .actWrap{
    padding: 0;
}
#activity_list .actSub{
    width: 100%;
}
#activity_list .actDetail{
    border: none;
}
#activity_list .actDetail td{
    padding: 0;
}
#activity_list .actDetail pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    color: #fff;
    margin: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    padding: 0;
}
#activity_list .actInfo .activity_title{
    position: relative;
}
#activity_list .actInfo.cursor .activity_title:before{
    content: "\f0fe";
    position: absolute;
    top: 7px;
    left: -27px;
    color: #fff;
    font-family: FontAwesome;
}
#activity_list .showDetail .actInfo.cursor .activity_title:before{
    content: "\f146";
}
#activity_list .showDetail pre{
    background-color: #686671;
}
#activity_list .showDetail .actInfo{
    background-color: #d4d4d4;
}
#activity_list .actSub.error pre{
    background-color: #fb434a;
}
#activity_list .actSub.error .actInfo{
    background-color: #ffbec1;
}
#activity_list .showDetail .actDetail pre,
#activity_list .actSub.error pre{
    max-height: 3000px;
    padding: 20px;
}

/**
LISTE CLASSIQUE
 */
.table thead th,.table tr td{
    border-bottom: 1px solid #efefef !important;
}
table tr th.list-col-th-dark{
    line-height: 0.3 !important;
    background-color: #efefef;
}
table tr th.list-col-th-id{
    background-color: #f9f9f9;
}
table tr td.list-col-td-dark{
    line-height: 0.3 !important;
    background-color: #efefef;
    padding-top: 14px !important;
}
table tr td.list-col-td-id{
    background-color: #f9f9f9;
    font-weight:bold;
}
table tr td.table-details{
    font-size:0.7em;
    padding: .45rem;
}
table tr td{
    padding: .45rem;
}
table {
    margin-bottom:1rem;
}
.table.table-hover tbody tr:hover {
    background: #efefef !important;
}
table tr td.table-action{
    padding: .45rem;
}


.widgetTop{
    height: 350px;
}
table tr td.typetext span.ng-binding,
table tr td.typeraw span.ng-binding{
    word-break: break-word;
}


/* INFRA 3D */
#infra_container{
    height: 430px;
    padding:15px;
}
#infra_container ul{
    list-style-type: none;
}

#infra_info{
    height: 100%;
    padding: 15px;
    width:33%;
    float: left;
    overflow: auto;
    background-color: #fff;
}
/*#infra_info.showQuick{*/
    /*left:0;*/
    /*padding:15px;*/
    /*width:430px;*/
    /*height: 400px;*/
/*}*/
#infra_info table{
    width:400px;
}
#infra_info table span{
    text-align: center;
}
#infra_map{
    height: 100%;
    width:65%;
    float: right;
    background-color: #fff;
}
.hideMap{
    display: none;    
}



@media screen and (max-width: 767px) {
    .detail-label:after{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .input-group.list-search{
        display: block;
    }
    .input-group.list-search input{
        border-radius: .25rem;
    }
    .input-group.list-search .input-group-btn{
        text-align: center;
    }
    .input-group.list-search .input-group-btn a:first-child{
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .inverted{
        display: block;
    }
    .straight{
        display: none;
    }
    table.inverted{
        width:auto;
        max-width: none;
        overflow: visible;
        table-layout: fixed;
        margin-left: 90px;
    }
    table.inverted tr{
        /*height: 55px;*/
    }
    table.inverted th{
        position: absolute;
        width:90px;
        left:4px;
        background-color: #ddd;
        z-index: 2;
        /*height: 55px;*/
    }
    table.inverted td, table.inverted th{
        border: 1px solid #f6f8f9;
        border-right: 1px solid #eceeef;
    }
    .invert-wrap{
        width:100%;
        overflow-x: scroll;
    }
/*    col.tdcontent{
        width:300px;
    }*/
    .col-width-fixer{
        width:250px;
        text-align: center;
    }

    .panel .panel-body {
        padding: 5px !important;
        position: relative;
    }


    .head-buttons{
        text-align: center;
        width:100%;

    }
    .head-label{
        clear: both;
        margin-top:60px;
        text-align: center;
        width:100%;
    }

}

@media screen and (max-width: 380px) {
    .input-group.list-search .input-group-btn a{
        display: block;
        border-radius: .25rem !important;
    }
}

/**
SPINNER
 */
.small_spinner {
    width: 100%;
    height: 100%;
}
.small_spinner:before {
    background-color: rgba(255,255,255,0.4);
    top: -50%;
    left: -50%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    content: " ";
}

/* Minisites*/
#ParcInstance td{
    vertical-align: middle;
}

.color_display{
    display: block;
    width: 30px;
    height: 20px;
    margin: auto;
}
.img_display{
    display: block;
    width: 200px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    margin: auto;
}

label.clickable{
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
}

/* liste Device -> Connexions*/
.btn.btn-info.type_RDP{

}
.btn.btn-info.type_VNC{
    background-color:  #f0ad4e;
    border-color: #f0ad4e;
}
.btn.btn-info.type_VNC:hover{
    background-color:  #e09d3e;
    border-color: #e09d3e;
}
.btn.btn-info.type_SSH{
    background-color:  #636c72;
    border-color: #636c72;
}
.btn.btn-info.type_SSH:hover{
    background-color:  #535c62;
    border-color: #535c62;
}
.btn.btn-info.type_Telnet{
    background-color:  #5cb85c;
    border-color: #5cb85c;
}
.btn.btn-info.type_Telnet:hover{
    background-color:  #4ca84c;
    border-color: #4ca84c;
}
.btn.btn-info.type_Https{
    background-color:  #fff;
    border-color: #333;
}
.btn.btn-info.type_Https:hover{
    background-color:  #ddd;
    border-color: #333;
}
/**
ACE
 */
.ace_editor { height: 300px; }

/**
Page Edit DIVI Staïle
 */
#pageOrg{
    position: relative;
}
#AgencementPage{
    border: 1px solid #0a6aa1;
    padding: 5px 10px;
    text-align: center;
    background-color : #ddddff;
    position: relative;
    min-height: 200px;
}
#AgencementPage .row{
    margin: 0;
}
#AgencementPage .pageHeader{
    border-bottom: 1px solid #fff;
}
#AgencementPage .dvContent{
    position: relative;
}
#AgencementPage .cms-row{
    border: 1px solid #0a6aa1;
    background-color : #fff;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}
#AgencementPage .cms-col{
    border: 1px solid #0a6aa1;
    background-color : #fff;
    position: relative;
    float: left;
}

#AgencementPage .dragHandle{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 2px;
}
#AgencementPage .cms-row .dragHandle{
    top: 5px;
    right: 5px;
}

#AgencementPage .cms-col .dragHandle{
    top: 25px;
    right: 25px;
}


/*
Choix des composants
 */
.compo{
    border: 1px solid #000;
    margin-bottom: 15px;
    cursor: pointer;
}
.compo:hover{
    background-color: rgba(1,168,254,0.1);
    box-shadow: #01a8fe 0px 0px 9px 1px;
    border-color: #01a8fe;
}
.compoTitle{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.compoScreen {
    font-size: 4em;
    vertical-align: middle;
    padding: 15px;
    border-right: 1px solid #000;
    display: inline-block;
    width: 100px;
    text-align: center;
}



/********
 * PANEL FILTER
 **/
.panel-filter{
    background-color: #efefef;
    max-height: 0;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    padding: -50px 75px 50px 75px;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.15) inset;
}
.panel-filter-closed{
    max-height: 500px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 15px 75px;
}
.panel-filter .form-group {
    margin-bottom:2px;
}



/* Color preview */
.colorBlock{
    width: 70px;
    height: 30px;
    display: inline-block;
    border: 1px solid #777;
}


/* Field Help */
.help-wrapper{
    position: relative;
    color: #5e9dbc;
}
.help-wrapper .fieldHelp{
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #fff;
    color: #000;
}
.help-wrapper:hover .fieldHelp,
.help-wrapper.active .fieldHelp{
    height: auto;
    text-align: center;
    font-size: 1.4em;
    width: 600px;
    max-height: 600px;
    border: 1px dotted #27a725;
    padding: 15px;
    z-index: 600;
}


/* Char count sur les metas */
.charCount{
    text-align: right;
    font-size: 0.8em;
}
.charCount span {
    color: #0a6aa1;
    font-weight: 600;
}