table tr td.table-details{
    font-size:0.7em;
}
.pagination {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#tCount,
#eCount,
#rCount{
    background-color: #ff3f4d;
    color: #fff;
    border-radius:30px;
    display: inline-block;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
}
#eCount.success{
    background-color: #83bf21;
}
#rCount {
    background-color: #7499FF;
}

.prio_allGood{
    color: #83bf21;
}
.prio_NC{
    color: #97AAB3;
}
.prio_Info{
    color: #7499FF;
}
.prio_Warning{
    color: #FFC859;
}
.prio_Moyenne{
    color: #FFA059;
}
.prio_Haute{
    color: #E97659;
}
.prio_Desastre{
    color: #E45959;
}

.inverted{
    display: none;
}

.form-control-label{
    font-weight:600;
}
.detail-label{
    position: relative;
}
.detail-label:after{
    position: absolute;
    right: 0;
    top:10px;
    content: ' ';
    border-left: 10px solid #ddd;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

}
.detail-value{
    text-align: center;
}
.detail-value span{
    display: inline-block;
    padding: .375rem .75rem;
    margin-bottom: 0;
    word-break: break-word;
}

#activity_list{
    width:100%;
}
#activity_list .activity_title{
    width:350px;
}
#activity_list .activity_progress{

}
#activity_list .activity_status{
    width: 100px;
    text-align: center;
}
#activity_list .bool{
    text-align: center;
    width:70px;
}
#activity_list .activity_start{
    width:100px;
}
#activity_list tr{
    border-bottom:1px solid #bbb;
}
#activity_list td{
    padding: 5px 10px;
}
#activity_list th{
    text-align: center;
}


.widgetTop{
    height: 350px;
}
table tr td.text span.ng-binding,table tr td.raw span.ng-binding{
    display:block;
    word-wrap: break-word;
    max-width:500px;
}


/* INFRA 3D */
#infra_info{
    height: 0;
    position: absolute;
    left:-4px;
    bottom:0;
    padding:0;
    width:0;
    overflow: hidden;
    background-color: #fff;
    transition: all 1s;
    border:2px solid #ddd;
}
#infra_info.showQuick{
    left:0;
    padding:15px;
    width:430px;
    height: 400px;
}
#infra_info table{
    width:400px;
}
#infra_info table span{
    text-align: center;
}
#infra_map{
    height: 400px;
    background-color: #fff;
    border-top: 2px solid #ddd;
}
.hideMap{
    display: none;    
}



@media screen and (max-width: 767px) {
    .detail-label:after{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .input-group.list-search{
        display: block;
    }
    .input-group.list-search input{
        border-radius: .25rem;
    }
    .input-group.list-search .input-group-btn{
        text-align: center;
    }
    .input-group.list-search .input-group-btn a:first-child{
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .inverted{
        display: block;
    }
    .straight{
        display: none;
    }
    table.inverted{
        width:auto;
        max-width: none;
        overflow: visible;
        table-layout: fixed;
        margin-left: 90px;
    }
    table.inverted tr{
        /*height: 55px;*/
    }
    table.inverted th{
        position: absolute;
        width:90px;
        left:4px;
        background-color: #ddd;
        z-index: 2;
        /*height: 55px;*/
    }
    table.inverted td, table.inverted th{
        border: 1px solid #f6f8f9;
        border-right: 1px solid #eceeef;
    }
    .invert-wrap{
        width:100%;
        overflow-x: scroll;
    }
/*    col.tdcontent{
        width:300px;
    }*/
    .col-width-fixer{
        width:250px;
        text-align: center;
    }

    .panel .panel-body {
        padding: 5px !important;
        position: relative;
    }


    .head-buttons{
        text-align: center;
        width:100%;

    }
    .head-label{
        clear: both;
        margin-top:60px;
        text-align: center;
        width:100%;
    }

}

@media screen and (max-width: 380px) {
    .input-group.list-search .input-group-btn a{
        display: block;
        border-radius: .25rem !important;
    }
}

/**
SPINNER
 */
.small_spinner {
    width: 100%;
    height: 100%;
}
.small_spinner:before {
    background-color: rgba(255,255,255,0.4);
    top: -50%;
    left: -50%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    content: " ";
}