.formCatsFrise{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    border-right: 1px solid #e5e5e5;
    padding: 0 !important;
}
.formCatsFriseElem{
    position: relative;
    flex-grow: 1;
    padding: 10px;
    transition: all 200ms ease-in-out;
}
.formCatsFriseElem.active{
    border-right: 3px solid #01a8fe;
    padding: 10px 10px 10px 20px;
    font-weight: 600;
}
/*.formCatsFriseElem + .formCatsFriseElem:before{
    position: absolute;
    top: 0px;
    left: 0px;
    content: ' ';
    height: 20px;
    width: 20px;
    border: 10px solid transparent;
    border-left: 10px solid #e5e5e5;
}
.formCatsFriseElem.active a{
    color: #fff;
    background-color: #01a8fe;
    border-radius: 3px;
    padding: 5px;
    font-weight: 600;
}*/
.formCatWrapper{
    position: relative;
}
.formCatContainer{
    position: absolute;
    top: -10000px;
    left: -10000px;
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.formCatContainer.before{
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 0 15px;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.formCatContainer.active{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.formCatContainer.after{
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 0 15px;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


input.form-control.error,
select.form-control.error {
    border: 2px solid #f39834;
    background-color: #FFC8596b;
}

.input-group-addon.active{
    background-color: #01a8fe;
    border-color: #01a8fe;
    color: #fff;
}

.btn.file-btn.btn-warning{
    width: 38px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
}
.file_uploader_display{
    padding-left: 20px;
}
.file_uploader_display_item{
    margin-top: 5px;
    list-style-type:none;
}
.file_uploader_display_item:before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 40px;
    border: 20px solid transparent;
    border-left: 10px solid #01a8fe;
    left: 0;

}

/* Checkbox oui non*/
.yesno .btn.btn-default-outline{
    background-color: #fb434a;
    color: #fff;
}
.yesno .btn.btn-default-outline.active{
    background-color: #46be8a;
}


.hidden{
    display: none;
}


.pagination {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#tCount,
#eCount,
#rCount{
    background-color: #fb434a;
    color: #fff;
    border-radius:30px;
    display: inline-block;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
}
#eCount.success{
    background-color: #46be8a;
}
#rCount {
    background-color: #01a8fe;
}
progress.progress.progress-danger{
    position: relative;
}
progress.progress.progress-danger:after{
    content: attr(value)'%';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-left: -25px;
    margin-top: -8px;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}
.dropdown-item-wrap{
    padding: 0 15px;
    width: 800px;
}
.dropdown-item-right{
    float: right;
    margin-left: 5px;
}
.dropdown-item-left{
    float: left;
}

.prio_allGood{
    color: #46be8a;
}
.prio_NC{
    color: #acb7bf;
}
.prio_Info{
    color: #01a8fe;
}
.prio_Warning{
    color: #FFC859;
}
.prio_Moyenne{
    color: #f39834;
}
.prio_Haute{
    color: #E97659;
}
.prio_Desastre{
    color: #fb434a;
}
.disabled{
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none;
}

.form-control-label{
    font-weight:600;
}
.cat-title {
    background-color: #ddd;
    padding: 3px 15px;
    margin-top: 0;
    margin-bottom: 10px;
}

.cat-title button.btn-link {
    box-shadow: none;
    padding-top: 0;
    padding-bottom:0 ;
}

.detail-label{
    position: relative;
}
.detail-label:after{
    position: absolute;
    right: 0;
    top:10px;
    content: ' ';
    border-left: 10px solid #ddd;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

}
.detail-value{
    text-align: center;
}
.detail-value > span{
    display: inline-block;
    padding: .375rem .75rem;
    margin-bottom: 0;
    word-break: break-word;
}


.label-danger, .label-success {
    min-width:36px;
    -webkit-box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.6);
    box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.6);

}

.fileLabel{
    position: absolute;
    right: 8px;
    top: 0px;
    width: 40px;
    height: 39px;
    overflow: hidden;
    border-radius: 0 .25rem .25rem 0;
    cursor: pointer;
    margin: 0;
}
.fileLabelIcon{
    position: absolute;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.showFocus,
.showImgFocus{
    cursor: zoom-in;
}
.showFocus:hover,
.showImgFocus:hover:after{
    color: #01a8fe;
}
.showFocus em{
    vertical-align: middle;
}
.showFocus i{
    margin-left: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}

.showImgFocus{
    position: relative;
}
.showImgFocus:after{
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    content: "\ecae";
    font-family: 'icomoon-ultimate';
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    color: #fff;
    font-size: 1.5em;
    text-shadow: #000 0px 0px 6px;
    opacity: 0.7;
}



#activity_list{
    width:100%;
}
#activity_list .activity_plus.success{
    /*background-color: rgba(70,190,138,0.4);!*HEx :#46be8a;*!*/
    border-left: 45px solid #46be8a;
}
#activity_list .activity_plus.error{
    /*background-color: rgba(251,67,74,0.4);!*HEx :#fb434a;*!*/
    border-left: 45px solid #fb434a;
}
#activity_list .activity_plus.info{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #01a8fe;
}
#activity_list .activity_plus.info_error{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #fba8fe;
}
#activity_list .activity_plus.running{
    /*background-color: rgba(172,183,191,0.4);!*HEx :#acb7bf;*!*/
    border-left: 45px solid #f39834;
}
#activity_list .activity_plus.stopped{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #444;
}
#activity_list .activity_plus.info_norm{
    /*background-color: rgba(1,168,254,0.4);!*HEx :#01a8fe;*!*/
    border-left: 45px solid #FFD96A;
}
#activity_list .activity_plus{
}
#activity_list .activity_link{
    width: 70px;
}

#activity_list .activity_progress{
    width: 150px;
}
#activity_list .activity_progress .progress-bar{
    height: 100%;
}
#activity_list .activity_progress > .progress{
    vertical-align: middle;
}
#activity_list.actions .activity_progress{
    width: 110px;
}
#activity_list .activity_start{
    width:175px;
    text-align: center;
}
#activity_list .activity_start.sortable{
    padding-right: 23px;
}
#activity_list .activity_start.sortable:after{
    right: 30px;
}
#activity_list > tbody > tr{
    border-bottom:1px solid #eee;
}
#activity_list .cursor{
    cursor: cell;
}

#activity_list td{
    padding: 5px 10px;
}
#activity_list th{
    text-align: center;
}
#activity_list .actWrap{
    padding: 0;
}
#activity_list .actSub{
    width: 100%;
}
#activity_list .actDetail{
    border: none;
}
#activity_list .actDetail td{
    padding: 0;
}
#activity_list .actDetail pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    color: #fff;
    margin: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    padding: 0;
}
#activity_list .actDetail pre p{
    margin-bottom: 0;
}
#activity_list .actInfo .activity_plus{
    position: relative;
}
#activity_list .actInfo.cursor .activity_plus:before,
#activity_list .actInfo .activity_plus.cursor:before{
    content: "\f0fe";
    position: absolute;
    top: 12px;
    left: -28px;
    color: #fff;
    font-family: FontAwesome;
}
#activity_list .showDetail .actInfo.cursor .activity_plus:before,
#activity_list .showDetail .actInfo .activity_plus.cursor:before{
    content: "\f146";
}
#activity_list .showDetail pre{
    background-color: #686671;
}
#activity_list .showDetail .actInfo{
    background-color: #d4d4d4;
}
#activity_list .actSub.error pre{
    background-color: #fb434a;
}
#activity_list .actSub.error .actInfo{
    background-color: #ffbec1;
}
#activity_list .showDetail .actDetail pre,
#activity_list .actSub.error pre{
    max-height: 3000px;
    padding: 20px;
}

/**
LISTE CLASSIQUE
 */
.table thead th,.table tr td{
    border-bottom: 1px solid #efefef !important;
    vertical-align: middle;
}
table tr th.list-col-th-dark{
    line-height: 0.3 !important;
    background-color: #efefef;
}
table tr th.list-col-th-id{
    background-color: #f9f9f9;
}
table tr td.list-col-td-dark{
    line-height: 0.3 !important;
    background-color: #efefef;
    padding-top: 14px !important;
}
table tr td.list-col-td-id{
    background-color: #f9f9f9;
    font-weight:bold;
}
table tr td.table-details{
    font-size:0.7em;
    padding: .45rem;
}
table tr td{
    padding: .45rem;
}
table {
    /*margin-bottom:1rem;*/
}
.table.table-hover tbody tr:hover {
    background: #efefef !important;
}
table tr td.table-action{
    text-align: right;
}


.widgetTop{
    height: 350px;
}
table tr td.typetext span.ng-binding,
table tr td.typeraw span.ng-binding{
    word-break: break-word;
}
.listWrap{
    position: relative;
    width: 100%;
    /*overflow: auto;*/
}
.listWrap table {
    width: auto;
    min-width: 100%;
}
.listWrap .table-action{
    min-width: 170px;
}


/* INFRA 3D */
#infra_container{
    height: 430px;
    padding:15px;
}
#infra_container ul{
    list-style-type: none;
}

#infra_info{
    height: 100%;
    padding: 15px;
    width:33%;
    float: left;
    overflow: auto;
    background-color: #fff;
}
/*#infra_info.showQuick{*/
/*left:0;*/
/*padding:15px;*/
/*width:430px;*/
/*height: 400px;*/
/*}*/
#infra_info table{
    width:400px;
}
#infra_info table span{
    text-align: center;
}
#infra_map{
    height: 100%;
    width:65%;
    float: right;
    background-color: #fff;
}
.hideMap{
    display: none;
}



@media screen and (max-width: 767px) {
    .detail-label:after{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .input-group.list-search{
        display: block;
    }
    .input-group.list-search input{
        border-radius: .25rem;
    }
    .input-group.list-search .input-group-btn{
        text-align: center;
    }
    .input-group.list-search .input-group-btn a:first-child{
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    /*    col.tdcontent{
            width:300px;
        }*/
    .col-width-fixer{
        width:250px;
        min-height: 45px;
        text-align: center;
    }

    .panel .panel-body {
        padding: 5px !important;
        position: relative;
    }


    .head-buttons{
        text-align: center;
        width:100%;

    }
    .head-label{
        clear: both;
        margin-top:60px;
        text-align: center;
        width:100%;
    }
    .listWrap{
        position: relative;
        width: 100%;
        overflow: auto;
    }
    .listWrap table {
        width: auto;
        min-width: 100%;
    }
    .listWrap .table-action{
        min-width: 170px;
    }

}

@media screen and (max-width: 380px) {
    .input-group.list-search .input-group-btn a{
        display: block;
        border-radius: .25rem !important;
    }
}

/**
SPINNER
 */
.small_spinner {
    width: 100%;
    height: 100%;
}
.small_spinner:before {
    background-color: rgba(255,255,255,0.4);
    top: -50%;
    left: -50%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    content: " ";
}

/* Minisites*/
#ParcInstance td{
    vertical-align: middle;
}

.color_display{
    display: block;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;
    height: 100%;
}
.img_display{
    display: block;
    width: 200px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    margin: auto;
}

label.clickable{
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
}

/* liste Device -> Connexions*/
.btn-abt.btn-primary.type_RDP{

}
.btn-abt.btn-primary.type_VNC{
    background-color:  #f0ad4e;
    border-color: #f0ad4e;
}
.btn-abt.btn-primary.type_VNC:hover{
    background-color:  #e09d3e;
    border-color: #e09d3e;
}
.btn-abt.btn-primary.type_SSH{
    background-color:  #636c72;
    border-color: #636c72;
}
.btn-abt.btn-primary.type_SSH:hover{
    background-color:  #535c62;
    border-color: #535c62;
}
.btn-abt.btn-primary.type_Telnet{
    background-color:  #5cb85c;
    border-color: #5cb85c;
}
.btn-abt.btn-primary.type_Telnet:hover{
    background-color:  #4ca84c;
    border-color: #4ca84c;
}
.btn-abt.btn-primary.type_Https{
    background-color:  #fff;
    border-color: #333;
}
.btn-abt.btn-primary.type_Https:hover{
    background-color:  #ddd;
    border-color: #333;
}
/**
ACE
 */
.ace_editor { height: 300px; }

/**
Page Edit DIVI StaĆÆle
 */
#pageOrg{
    position: relative;
}
#AgencementPage{
    padding: 20px;
    text-align: center;
    background-color : #efeff4;
    position: relative;
    min-height: 200px;
    border-radius: 5px;
    -webkit-box-shadow:inset 0 1px 2px 0 rgba(55,58,60,0.6);
    box-shadow:inset 0 1px 2px 0 rgba(55,58,60,0.6);
}

#AgencementPage .row{
    margin: 0;
}

#AgencementPage .dvContent{
    position: relative;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    border-left:1px solid #6b35b6;
    border-right:1px solid #6b35b6;
    border-top: 1px solid #6b35b6;
    border-bottom: 40px solid #6b35b6;
    background-color: #dddddd;
    -webkit-box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.3);
    box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.3);
}

#AgencementPage .cms-row{
    border-radius: 5px;
    background-color : #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    -webkit-box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.3);
    box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.3);
    border-bottom: 40px solid;

}


#AgencementPage .cms-row:nth-child(odd) {
    border-bottom-color: #168cd8;
}

#AgencementPage .cms-row:nth-child(even) {
    border-bottom-color:#ee5659;
}

#AgencementPage .cms-row[style*="transform"] {
    border-right: none;
    -webkit-box-shadow: 30px 30px 3px 3px rgba(55,58,60,0.3);
    box-shadow: 30px 30px 3px 3px rgba(55,58,60,0.3);
}


#AgencementPage .cms-col{
    height:140px;
    border-radius: 5px;
    background-color : #5d5d5d;
    position: relative;
    float: left;
    border-left:1px solid #cdcdcd;
    border-right:1px solid #cdcdcd;
    -webkit-box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.6);
    box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.6);
    border-bottom: 40px solid;
}


#AgencementPage .cms-row:nth-child(odd) .cms-col:nth-child(odd) {
    border-bottom-color: #1fc2aa;
}

#AgencementPage .cms-row:nth-child(odd) .cms-col:nth-child(even) {
    border-bottom-color: #158272;
}

#AgencementPage .cms-row:nth-child(even) .cms-col:nth-child(odd) {
    border-bottom-color: #fd913f;
}

#AgencementPage .cms-row:nth-child(even) .cms-col:nth-child(even) {
    border-bottom-color: #bd6c2f;
}

#AgencementPage .cms-col[style*="transform"] {
    border-right: none;
    border-left:none;
    -webkit-box-shadow: 20px 20px 3px 3px rgba(55,58,60,0.6);
    box-shadow: 20px 20px 3px 3px rgba(55,58,60,0.6);
}

#AgencementPage .cms-col[style*="transform"] .rg-right {
    display:none;
}


#AgencementPage .dragHandle{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}


#AgencementPage .cms-row .dragHandle{
    bottom: -34px;
    right: 5px;
}

#AgencementPage .cms-col .dragHandle{
    top: 10px;
    right: 10px;
}


/*
Choix des composants
 */
.compo{
    border: 1px solid #000;
    margin-bottom: 15px;
    cursor: pointer;
}
.compo:hover{
    background-color: rgba(1,168,254,0.1);
    box-shadow: #01a8fe 0px 0px 9px 1px;
    border-color: #01a8fe;
}
.compoTitle{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    padding: 2px 10px;
}
.compoScreen {
    font-size: 4em;
    vertical-align: middle;
    padding: 15px;
    border-right: 1px solid #000;
    display: inline-block;
    width: 100px;
    text-align: center;
}


.compoDisplay {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 5rem;}

.emptyCompo {
    color: #fb434A;
}

/********
 * PANEL FILTER
 **/
.panel-filter{
    background-color: #efefef;
    max-height: 0;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    padding: -50px 75px 50px 75px;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.15) inset;
}
.panel-filter-closed{
    max-height: 500px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 15px 75px;
}
.panel-filter .form-group {
    margin-bottom:2px;
}



/*
Aspect Titre
 */


.pageHeader p {
    font-size: 2em;
    text-transform: uppercase;
    color: #51505a;
    margin-top: 1rem;
    font-weight: bold;}



/*
Aspect Composants
 */

.cms-col.ng-scope {
    font-size: 1.5em;
    color: #ffffff;
    padding: 15px 0 15px 0;}


#AgencementPage .cms-row[style*="transform"] span {
    display:none;
}



.cms-col.ng-scope .rg-right span {
    border: solid #ffffff;
    border-width: 0px 2px;
    margin: -15px 0 0 3.5px;
    height: 30px; }




.pageFooter {
    padding-top: 15px;}

.panel-heading button,
.pageFooter button {
    font-size: 1.1rem;
    text-align: center;
    margin: 0 10px 0 0;
}

.panel-heading button > i,
.pageFooter button > i {
    padding: 0 15px 0 0;
}

.panel-heading .pull-right {
    margin-top: -8px;
}

.pageFooter .btn-success,
.pageFooter .btn-warning {
    float: right;
}
.form-group .clickable,
.form-group button {
    background-color: #01a8fe;
    border-color: #01a8fe;
    border-radius:3px;
    color:#ffffff;
    -webkit-box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.6);
    box-shadow: 0 2px 4px -2px rgba(55, 58, 60, 0.6);
}


/*
Position et comportement des boutons en col, en raw et en dvContent
 */
.addRow,
.addCol,
.configComp  {
    position:absolute;
    bottom: -42px;
    left: 5px;
}
#AgencementPage .addRow .btn-primary,
#AgencementPage .delRow .btn-danger,
#AgencementPage .addCol .btn-primary,
#AgencementPage .delCol .btn-danger,
#AgencementPage .configComp .btn-warning {
    margin:0;
    background-color: transparent;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    -webkit-box-shadow: none;
    max-width: 42px;
    text-align: left;
    transition: all 0.5s;
}

#AgencementPage .addRow .btn-primary,
#AgencementPage .addCol .btn-primary,
#AgencementPage .configComp .btn-warning {
    padding: 7px 8px 7px 8px;
}


#AgencementPage .delRow .btn-danger,
#AgencementPage .delCol .btn-danger {
    padding: 7px;
}


#AgencementPage .addRow .btn-primary:hover,
#AgencementPage .delRow .btn-danger:hover,
#AgencementPage .addCol .btn-primary:hover,
#AgencementPage .delCol .btn-danger:hover,
#AgencementPage .configComp .btn-warning:hover {
    max-width: 190px;
}



#AgencementPage .addRow .btn-primary span:not(.ink),
#AgencementPage .delRow .btn-danger span:not(.ink),
#AgencementPage .addCol .btn-primary span:not(.ink),
#AgencementPage .delCol .btn-danger span:not(.ink),
#AgencementPage .configComp .btn-warning span:not(.ink) {
    display: none;
}

#AgencementPage .addRow .btn-primary:hover span,
#AgencementPage .delRow .btn-danger:hover span,
#AgencementPage .addCol .btn-primary:hover span,
#AgencementPage .delCol .btn-danger:hover span,
#AgencementPage .configComp .btn-warning:hover span {
    display:inline-block;
}

.addCol .btn-primary,
.configComp .btn-warning {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.addRow,
.delRow,
.delCol {
    position:absolute;
}


.delCol {
    bottom: -42px;
    left:50px;
    transition: all 0.5s;
}


.delRow {
    bottom: -42px;
    left:50px;
    transition: all 0.5s;
}

.delRow .btn-danger,
.delCol .btn-danger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



#AgencementPage .addCol:hover~.delRow {
    left:190px;
}


#AgencementPage .configComp:hover~.delCol {
    left:200px;
}





/*#AgencementPage .cms-col[data-width="17"] button,
#AgencementPage .cms-col[data-width="16"] button,
#AgencementPage .cms-col[data-width="15"] button,
#AgencementPage .cms-col[data-width="14"] button,
#AgencementPage .cms-col[data-width="13"] button,
#AgencementPage .cms-col[data-width="12"] button,
#AgencementPage .cms-col[data-width="11"] button,
#AgencementPage .cms-col[data-width="10"] button,
#AgencementPage .cms-col[data-width="9"] button,
#AgencementPage .cms-col[data-width="8"] button,
#AgencementPage .cms-col[data-width="7"] button,
#AgencementPage .cms-col[data-width="6"] button,
#AgencementPage .cms-col[data-width="5"] button,
#AgencementPage .cms-col[data-width="4"] button,
#AgencementPage .cms-col[data-width="3"] button,
#AgencementPage .cms-col[data-width="2"] button,
#AgencementPage .cms-col[data-width="1"] button {
    width: 42px;
    text-align: center;
    padding: 7px 30px 7px 16px;
}


#AgencementPage .cms-col[data-width="17"] button span,
#AgencementPage .cms-col[data-width="16"] button span,
#AgencementPage .cms-col[data-width="15"] button span,
#AgencementPage .cms-col[data-width="14"] button span,
#AgencementPage .cms-col[data-width="13"] button span,
#AgencementPage .cms-col[data-width="12"] button span,
#AgencementPage .cms-col[data-width="11"] button span,
#AgencementPage .cms-col[data-width="10"] button span,
#AgencementPage .cms-col[data-width="9"] button span,
#AgencementPage .cms-col[data-width="8"] button span,
#AgencementPage .cms-col[data-width="7"] button span,
#AgencementPage .cms-col[data-width="6"] button span,
#AgencementPage .cms-col[data-width="5"] button span,
#AgencementPage .cms-col[data-width="4"] button span,
#AgencementPage .cms-col[data-width="3"] button span,
#AgencementPage .cms-col[data-width="2"] button span,
#AgencementPage .cms-col[data-width="1"] button span  {
    display: none;
}









/*
Responsive
 */

@media(max-width: 1200px) {

    #AgencementPage button {
        width: 42px;
        text-align: center;
        padding: 7px 30px 7px 16px;
    }

    #AgencementPage button span {
        display:none;
    }

    .cms-col.ng-scope {font-size: 1.2rem;}
}


/*
Choix des composants
 */
.compo{
    border: 1px solid #000;
    margin-bottom: 15px;
    cursor: pointer;
}
.compo:hover{
    background-color: rgba(1,168,254,0.1);
    box-shadow: #01a8fe 0px 0px 9px 1px;
    border-color: #01a8fe;
}
.compoTitle{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.compoScreen {
    font-size: 4em;
    vertical-align: middle;
    padding: 15px;
    border-right: 1px solid #000;
    display: inline-block;
    width: 100px;
    text-align: center;
}



/********
 * PANEL FILTER
 **/

.list-filter{

}
.filter-danger{
    color: #FB434A;
}
.filter-info{
    color: #01A4F8;
}
.filter-warning{
    color: #F39834;
}
.filter-success{
    color: #46BE8A;
}
.filter-primary{
    color: #01a8fe;
}
.filter-secondary{
    color: #6a7a84;
}
.filter-default{
    color: #acb7bf;
}
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-danger.active,
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-danger:focus{
    border-bottom-color: #FB434A !important;
}
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-info.active,
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-info:focus{
    border-bottom-color: #01A4F8 !important;
}
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-warning.active,
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-warning:focus{
    border-bottom-color: #F39834 !important;
}
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-success.active,
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.filter-success:focus{
    border-bottom-color: #46BE8A !important;
}


.panel-filter{
    background-color: #efefef;
    max-height: 0;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    padding: -50px 75px 50px 75px;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.15) inset;
}
.panel-filter-closed{
    max-height: 500px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 15px 75px;
    overflow: visible;
}
.panel-filter .form-group {
    margin-bottom:2px;
}



/* Color preview */
.colorBlock{
    width: 70px;
    height: 30px;
    display: inline-block;
    border: 1px solid #777;
}


/* Field Help */
.formHelper i{
    color: #5e9dbc;
}


/* Char count sur les metas */
.charCount{
    text-align: right;
    font-size: 0.8em;
}
.charCount span {
    color: #0a6aa1;
    font-weight: 600;
}
.charCount span.danger {
    color: #a10a6a;
}


/* Profile */
.dl-horizontal.user-profile-dl{
    border-left: 2px solid #46be8a;
    overflow: hidden;
}
.dl-horizontal.user-profile-dl dt{
    width: 110px;
    text-align: left;
    padding-left: 10px;
}
.dl-horizontal.user-profile-dl dd{
    margin-left: 120px;
    padding-left: 10px;
}
.dl-horizontal.user-profile-dl dd:nth-of-type(2n+1),
.dl-horizontal.user-profile-dl dt:nth-of-type(2n+1){
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

#settings fieldset {
    padding: 15px;
    border: 2px solid #01a8fe;
    border-radius: 10px;
}

#settings legend {
    width: auto;
    padding: 5px;
}


/* fullcalendar */
.fc-unthemed .fc-toolbar h2{
    text-transform: capitalize;
}


/* Menu Contact */
.avatar_wrap{
    padding: 0 10px;
}

.header-container .btn{
    line-height: 1em;
}


.spinner-list{
    position: relative;
    min-height: 100px;
}
.sortable{
    cursor: row-resize;
    position: relative;
}
.sortable:after{
    position: absolute;
    right: 0;
    color: #ccc;
    width: 20px;
    height: 20px;
    content: "\ee3b";
    font-family: 'icomoon-ultimate', serif ;
}

.sortable:hover {
    background-color: #edfff9;
}

.sortable-up:after{
    color: #f39834;
    content: "\edc7";
}
.sortable-down:after{
    color: #f39834;
    content: "\edc9";
}

.btn-abt{
    display: inline-block;
    position: relative;
    min-width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 1px;
    padding: 3px 5px;
}
.btn-abt:after{
    position: absolute;
    content: ' ';
    top: 5px;
    left: 9px;
    font-family: 'icomoon-ultimate', serif ;
}
.btn-abt-del:after{
    content: "\ebfd";
}
.btn-abt-mod:after{
    content: "\e910";
}
.btn-abt-nfo:after{
    content: "\ed63";
}
.btn-abt-alert:after{
    content: "\ed4f";
}

.btn-abt-func{
    background-color: #6f42c1;
    color: #fff;
    border: none;
}
.btn.btn-func{
    background-color: #6f42c1;
    color: #fff;
    border-color: #6f42c1;
}
.btn.btn-func:hover{
    background-color: #7f56c1;
    border-color: #7f56c1;
}
.btn-abt-func:before{
    content: "\eb60";
    position: absolute;
    top: 5px;
    left: 8px;
    font-family: 'icomoon-ultimate', serif ;
}
.btn-abt-func:after{
    display: none !important;
}
.table-action .dropdown-menu{
    right: 0;
    left:  auto;
}

.btn-abt.btn-primary{
    background-color: #01a8fe;
}
.panel.panel-with-borders > .panel-body {
    padding-top: 0 !important;
}

.lostBgCode{
    background-image: url(../img/notFoundBG.png) ;
    max-width: 100%;
    height: 255px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: #2b2b2b;
    border: 3px solid #2b2b2b;
    margin-bottom: 15px;
}
/**MODAL**/
.theme-dark .modal.modal-size-large .modal-dialog{
    max-width: 1200px;
}
.modal-body {
    overflow: hidden;
    overflow: -webkit-paged-y !important;
}
.modal-body small  .help-wrapper{
    display: block;
    line-height: 80%;
    margin-top: -7px;
    margin-bottom: 3px;
    opacity: 0.7;
}

.logo-centre {
	margin: auto;
}

/** FileUpload **/
.multiUploadDisplay{
    list-style-type: none;
}
.multiUploadDisplay .uploadItemThumb {
    height: 40px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}
.multiUploadDisplay .uploadItemLink{
    text-align: left;
    line-height: 40px;
}
.multiUploadDisplay .uploadItemDel{
    padding-top: 3px;
}

/* Ticket */
.etatTicket:before{
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #aaa;
    margin-right: 5px;
}
.etatTicket.etat_10:before{
    background-color: #01a8fe;
}
.etatTicket.etat_20:before{
    background-color: #46BE8A;
}
.etatTicket.etat_30:before{
    background-color: #6f42c1;
}
.etatTicket.etat_40:before{
    background-color: #aaa;
}
.etatTicket.etat_41:before{
    background-color: #FB434A;
}
/* Actions */
.fileContainer .uploadItemThumb{
    text-align: center;
    font-size: 40px;
}
.fileContainer .uploadItemThumb img{
    max-width: 100%;
}
.fileContainer .uploadItemLink{
    text-align: center;
}


/* NOTIFICATION BLOCK (TOP MENU) */
.notification-block {
    width: 290px;
    margin: -7px 0px;
    background: #ffffff;
}

.notification-block .item {
    border-bottom: 1px solid #d2d9e5;
    padding: 10px 0px;
    position: relative;
}

.notification-block .item:last-child {
    border-bottom: 0px;
}

.notification-block .item:hover {
    background: #f9fafb;
}

.notification-block .item .notification-icon {
    float: left;
    font-size: 18px;
    width: 32px;
    text-align: right;
    margin: 8px 0px 0px 0px;
    color: #827ca1;
}

.notification-block .item .notification-button {
    position: absolute;
    bottom: 8px;
    left: 13px;
    font-size: 15px;
    padding: 0px 3px;
    width: 20px;
    height: 21px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #fb434a;
}
.notification-block .item .notification-button:after{
    font-family: 'icomoon-ultimate';
    content: "\ed66";
}


.notification-block .item .inner {
    margin-left: 50px;
    padding-right: 15px;
}

.notification-block .item .inner .descr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-block .item .inner .title > span {
    font-size: 13px;
}

.notification-block .item .inner .time > span {
    font-size: 12px;
}

.notification-block .item .inner .label {
    font-size: 12px;
}
 .notification-block .noItem{
     padding: 15px;
 }
.notification-block .notification-empty{
    color: #46BE8A;
    font-size: 23px;
    position: absolute;
    top: 15px;
}

 /**
 FICHE
  */
.nav-tabs-vertical .tab-content>.active {
    margin-left: 200px;
    background-color: #f9f9f9;
    min-height: 150px;
    padding: 20px;
    overflow: hidden;
    margin-right: 0;
}
.nav-tabs-vertical .nav-tabs .nav-item .nav-link.active, .nav-tabs-vertical .nav-tabs .nav-item .nav-link:focus {
    border-right-color: #01a8fe !important;
    padding:10px 0 10px 15px;
    background-color: #f9f9f9;
    font-weight: bold;
}
.nav-tabs-vertical .nav-tabs .nav-item .nav-link, .nav-tabs-vertical .nav-tabs .nav-item .nav-link {

    padding:10px 0 10px 10px;
}
.nav-tabs-vertical .nav-tabs .nav-item {
}
.nav-tabs-vertical .tab-content>.active {
    margin-left: 200px;
    background-color: #f9f9f9;
}
.nav-tabs-vertical .nav-tabs {
    width:200px;
    margin-right:0 !important;
}
.nav-tabs-vertical{
    /*background-color: #f9f9f9;*/
    margin-top: 20px;
}
.fiche-pane{
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-top:5px;
}

.panel .panel-heading {
    -moz-box-shadow: inset 0 -10px 10px -10px #E3E6EB;
    -webkit-box-shadow: inset 0 -10px 10px -10px #E3E6EB;
    box-shadow: inset 0 -10px 10px -10px #E3E6EB;
}
.triangle.up {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 60px solid #38354a;
    margin-top:-15px;
    width: 50px;
    left: 0px;
    position: relative;
    z-index: 10000;
    transition-property: left;
    transition-duration: 0.6s;
    transition-delay: 0;
}
.panel.inverse{
    background-color: #38354a;
}
.panel.inverse h3{
    color: white;
}
.panel.inverse .panel-heading{
    -moz-box-shadow: inset 0 -10px 10px -10px #000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000;
    box-shadow: inset 0 -10px 10px -10px #000;
}

.gantt-task-content {
    cursor: pointer;
}
.gantt-task-content span > span{
    color:white;
    margin-top: -15px;
    display: block;
}

.color1{
    border-left: 35px solid #01a8fe;
}
.color2{
    border-left: 35px solid #46be8a;
}
.color3{
    border-left: 35px solid #E5AC0E;
}
.color4{
    border-left: 35px solid #f39834;
}
.color5{
    border-left: 35px solid #fb434a;
}
.color6{
    border-left: 35px solid #b70070;
}
.color7{
    border-left: 35px solid #563d7c;
}
.color8{
    border-left: 35px solid #744411;
}
.color9{
    border-left: 35px solid #747474;
}
.color10{
    border-left: 35px solid #000000;
}