@import "Menu.css";
@import "Form.css";

/* Global */
body {
	font-family: Arial;
    font-size:12px;
}

a {
    color:#15428B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
#header {
    background: url('Ext/images/layout-browser-hd-bg.gif') repeat-x center #7F99BE;
}

#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}

a#Logout {
    color: white;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 7px;
}	