<div class="page-content-inner">

    <!-- Dashboard -->
    <div class="dashboard-container">
        <div class="row">
            {#<a class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" href="#/Documents/Contrats">
                <div class="widget widget-seven background-success">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">Montant mensuel</h5>
                            <i class="counter-icon icmn-cash3"></i>
                            <span class="counter-count">
                                <span class="counter-init" data-from="0" data-to="{{ ParcClient.MontantMensuel }}"></span> €
                            </span>
                        </div>
                    </div>
                </div>
            </a>#}
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="widget widget-seven background-primary">
                    <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="http://proxy.abtel.fr/mautic/" class="widget-body" target="_blank">
                                    <h2>
                                        <i class="icmn-mail"></i> Mautic
                                    </h2>
                                    <p>
                                        Gestionnaire de newsletter.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" href="#/Cloud/Domaines">
                <div class="widget widget-seven background-default">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">Domaines</h5>
                            <i class="counter-icon icmn-server"></i>
                            <span class="counter-count">
                                <i class="icmn-arrow-right5"></i>
                                <span class="counter-init" data-from="0" data-to="{{ NbDomaines }}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" href="#/Infrastructure/Peripheriques">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">Périphériques</h5>
                            <i class="counter-icon icmn-users"></i>
                            <span class="counter-count">
                                <i class="icmn-arrow-up5"></i>
                                <span class="counter-init" data-from="0" data-to="{{ NbDevices }}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" href="#/Cloud/Email">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">Comptes emails</h5>
                            <i class="counter-icon icmn-users"></i>
                            <span class="counter-count">
                                <i class="icmn-arrow-up5"></i>
                                <span class="counter-init" data-from="0" data-to="{{ NbEmails }}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--
        <div class="row">
            <div class="col-xl-6">
                <div class="widget widget-six">
                    <div class="widget-header">
                        <div class="dropdown pull-right">
                            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="dropdown-inline-button-icon icmn-cog"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Remove All</a>
                            </ul>
                        </div>
                        <strong class="margin-right-10">Sales Statistics, Billions</strong>
                        <span class="margin-right-10 nowrap">
                            <span class="donut donut-success"></span>
                            Guns
                        </span>
                        <span class="margin-right-10 nowrap">
                            <span class="donut donut-primary"></span>
                            Girls
                        </span>
                        <span class="margin-right-10 nowrap">
                            <span class="donut donut-yellow"></span>
                            Drugs
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="chart-line height-250 chartist"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="widget widget-six">
                    <div class="widget-header">
                        <div class="dropdown pull-right">
                            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="dropdown-inline-button-icon icmn-cog"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Remove All</a>
                            </ul>
                        </div>
                        <strong class="margin-right-10">Growth, %</strong>
                        <span class="margin-right-10 nowrap">
                            <span class="donut donut-primary"></span>
                            Income
                        </span>
                        <span class="margin-right-10 nowrap">
                            <span class="donut donut-success"></span>
                            Outcome
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="chart-overlapping-bar height-250 chartist"></div>
                    </div>
                </div>
            </div>
        </div>

        -->
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-three">
                    <iframe style="border:0;" src="https://proxy.abtel.fr/zabbix/zabbix.php?action=dashboard.view&fullscreen=1" width="100%" height="1800"></iframe>
                </div>
            </div>
        </div>
        <!-- End Dashboard -->

    </div>


    <!-- Page Scripts -->
    <script>
        $(function() {

            ///////////////////////////////////////////////////////////
            // COUNTERS
            $('.counter-init').countTo({
                speed: 1500
            });

            ///////////////////////////////////////////////////////////
            // ADJUSTABLE TEXTAREA
            autosize($('#textarea'));

            ///////////////////////////////////////////////////////////
            // CUSTOM SCROLL
            if (!cleanUI.hasTouch) {
                $('.custom-scroll').each(function() {
                    $(this).jScrollPane({
                        autoReinitialise: true,
                        autoReinitialiseDelay: 100
                    });
                    var api = $(this).data('jsp'),
                        throttleTimeout;
                    $(window).bind('resize', function() {
                        if (!throttleTimeout) {
                            throttleTimeout = setTimeout(function() {
                                api.reinitialise();
                                throttleTimeout = null;
                            }, 50);
                        }
                    });
                });
            }

            ///////////////////////////////////////////////////////////
            // CALENDAR
            var date = new Date();
            var now = date.toISOString();
            $('.example-calendar-block').fullCalendar({
                //aspectRatio: 2,
                locale: 'fr',
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                buttonIcons: {
                    prev: 'none fa fa-arrow-left',
                    next: 'none fa fa-arrow-right',
                    prevYear: 'none fa fa-arrow-left',
                    nextYear: 'none fa fa-arrow-right'
                },
                buttonText: {
                    today:    'Aujourdh\'ui',
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour',
                    list:     'Liste'
                },
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [  1, 2, 3, 4, 5  ], // Monday - Thursday

                    start: '08:00', // a start time (10am in this example)
                    end: '18:00', // an end time (6pm in this example)
                },
                nowIndicator: true,
                weekNumbers: true,
                weekNumbersWithinDays:true,
                Actionable: true,
                eventLimit: true, // allow "more" link when too many events
                viewRender: function(view, element) {
                    if (!cleanUI.hasTouch) {
                        $('.fc-scroller').jScrollPane({
                            autoReinitialise: true,
                            autoReinitialiseDelay: 100
                        });
                    }
                },
                eventClick: function(calEvent, jsEvent, view) {
                    if (!$(this).hasClass('event-clicked')) {
                        $('.fc-event').removeClass('event-clicked');
                        $(this).addClass('event-clicked');
                    }
                },
                defaultDate: now
            });

            ///////////////////////////////////////////////////////////
            // CAROUSEL WIDGET
            $('.carousel-widget').carousel({
                interval: 4000
            });

            $('.carousel-widget-2').carousel({
                interval: 6000
            });

            ///////////////////////////////////////////////////////////
            // DATATABLES
            $('#example1').DataTable({
                responsive: true,
                "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]]
            });

//            ///////////////////////////////////////////////////////////
//            // CHART 1
//            new Chartist.Line(".chart-line", {
//                labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
//                series: [
//                    [12, 9, 7, 8, 5],
//                    [2, 1, 3.5, 7, 3],
//                    [1, 3, 4, 5, 6]
//                ]
//            }, {
//                fullWidth: !0,
//                chartPadding: {
//                    right: 40
//                },
//                plugins: [
//                    Chartist.plugins.tooltip()
//                ]
//            });
//
//            ///////////////////////////////////////////////////////////
//            // CHART 2
//            var overlappingData = {
//                    labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
//                    series: [
//                        [5, 4, 3, 7, 5, 10, 3, 4, 8, 10, 6, 8],
//                        [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4]
//                    ]
//                },
//                overlappingOptions = {
//                    seriesBarDistance: 10,
//                    plugins: [
//                        Chartist.plugins.tooltip()
//                    ]
//                },
//                overlappingResponsiveOptions = [
//                    ["", {
//                        seriesBarDistance: 5,
//                        axisX: {
//                            labelInterpolationFnc: function(value) {
//                                return value[0]
//                            }
//                        }
//                    }]
//                ];
//
//            new Chartist.Bar(".chart-overlapping-bar", overlappingData, overlappingOptions, overlappingResponsiveOptions);
//

        });
    </script>
    <!-- End Page Scripts -->