<div id="SiteVeto1" class="page_{{ menClass }} Atterissage ">

        <div id="Bando">
            <img src="Skins/VetoccitanTConstruction/Images/VetoccitanEnConstruction.jpg.limit.1024x800.jpg" class="img-responsive" alt="{{ Adherent.Media.Titre }}"
                 title="Accueil"/>
            <div class="Container">
                <div class="blocnumbando">{{ Adherent.Tel }}</div>
            </div>
            <div class="Container">
                <div class="blocConstruction">{{ Adherent.Nom }} .... Notre site sera bientôt de retour en attendant n'hésitez pas à nous appeler</div>
            </div>
        </div>

</div>
