<div class="btn-group" style="width:100%">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%">
        Marques... <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for marque in marques %}
        <li><a href="/{{ marque.Url }}">{{ marque.Nom }}</a></li>
        {% endfor %}
    </ul>
</div>
