@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../Fonts/OpenSans-400.woff) format('woff');
}
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../Fonts/OpenSans-700.woff) format('woff');
}