{{ include(template_from_string(module('Systeme/Menu'))) }}
<div id="App"></div>
{{ include(template_from_string(module('Systeme/Structure/Footer'))) }}
<script type="text/javascript" src="/Skins/VetoccitanT3/ReactSrc/bundle/App.js"></script>
{#<script type="text/javascript" src="/Skins/VetoccitanT3/ReactSrc/bundle/index_bundle.js"></script>#}