<div class="cwt__footer" ng-class="{'visible-footer': showFooter}">

    <div class="cwt__footer__bottom">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="cwt__footer__company">
                    <img class="cwt__footer__company-logo" src="Skins/AngularAdmin/img/logo.png" target="_blank" title="Abtel développement">
                    <span>
                        © 2016 <a href="http://abtel.fr/" class="cwt__footer__link" target="_blank">Abtel corp</a>
                        <br>
                        Tous droits réservés
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-backdrop"><!-- --></div>