/*-------- Menu du bas --------*/
/*---Pour un site à 980px avec colonne gauche 258px et deux autres colonnes---------*/
.MenuHautR {
	font-size:11px;
	background-color:#FFFFFF;
    	height: 30px;
    	position: absolute;
	display: block;
    	right: 0;
    	top: 0;
	
}
.MenuHautR ul  {
	list-style:none;
   	height: 30px;
 	color: #47b5d8;
	font-size:11px;
	overflow:hidden;
	display:block;
}
.MenuHautR  li{
    background: url("../Img/sprite.png") repeat-x scroll -37px -238px transparent;
    float: left;
    padding: 0 5px;
 	
}

.MenuHautR a {
	color: #47b5d8;
	text-decoration:none;
	display:block;
	width:25px;
	height:15px;
	margin:5px 2px;
    	font-size: 0;
    	line-height: 0;
	height: 30px;

}

.MenuHautR a.MiniContact {
   	background: url("../Img/sprite.png") repeat-x scroll -36px -199px transparent;

}
.MenuHautR a.Facebook {
   	background: url("../Img/sprite.png") repeat-x scroll -81px -199px transparent;
	
}

.MenuHautR a.Twitter {
   	background: url("../Img/sprite.png") repeat-x scroll -124px -199px transparent;
}

.MenuHautR a.SendFriend {
   	background: url("../Img/sprite.png") repeat-x scroll -181px -199px transparent;

}

.MenuHautR a.Boutique {
    	background: url("../Img/sprite.png") repeat-x scroll -241px -197px transparent;
    	font-size: 12px;
    	height: 30px;
    	line-height: 15px;
    	padding-left: 27px;
    	padding-top: 3px;
    	width: auto;

}


.EnteteTel {
   background: url("../Img/sprite.png") repeat-x scroll -33px -287px transparent;
    color: #01ACCF;
    font-family: Arial;
    font-size: 19px;
    height: 30px;
    padding: 2px 30px;
    position: absolute;
    right: -27px;
    top: 32px;
}

.EnteteTelCout { 
	font-size:10px;color:#01accf;
	text-align: right; margin-right:2px;

}
