<div {% if NOMDIV is not empty %}id="{{ NOMDIV }}"{% endif %} class="client {{ CSS }}">
    <div style="background:#EEEFE9;padding-bottom:5px;">
        <h1 class="Titre">Recherche Organisation</h1>
        <div class="ForSpe">
            <label>Titre</label>

            <input type="text" name="Org_Nom" id="Org_Nom" value="">

        </div>

        <div class="ForSpe">

            <label>Département</label>

            <select name="Org_Departement" onchange="javascript:submit();">


                <option value="Hérault">Hérault</option>



            </select>

        </div>

        <p>
            <input type="submit" name="Recherche" value="Rechercher" class="BtnSearch">
        </p>

    </div>





    <ul style="list-style-type: none;">
        {% for client in clients %}
            <li>
                {{ client.Nom }}
            </li>
        {% endfor %}
    </ul>
</div>