{# fiche FicheAttachements #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label %} 
<div>
	{% if not adherent %}<span class="cadref-ins-numero" ng-bind="attachementInfo.code"></span> {% endif %}<span class="cadref-ins-nom" ng-bind="attachementInfo.libelle"></span>
</div>
{% if not adherent %}
	<div class="cadref-widget" ng-if="attachementInfo.mode!=''">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2">
						{{ label('Titre') }}
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control cadref-input" ng-model="attachementObj.Titre"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{ label('Documents') }}
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control" readonly placeholder="" id="input-AttachementFilePath" ng-model="attachementObj.FilePath">
						<button for="input-AttachementFilePath-file" class="clickable">Choisir un fichier</button>
						<input id="input-AttachementFilePath-file" type="file" class="form-control cadref-input" nv-file-select 
							   options="{ alias:'FileData',formData:[{ 'Module':'Cadref' }, { 'Obj' : 'Attachement' }],
							   removeAfterUpload: true, inputId: 'input-AttachementFilePath', model:'attachementObj.FilePath' }" 
							   ng-init="up_AttachementFilePath = angular.copy(autoUploader)" uploader="up_AttachementFilePath" style="display:none;"
							   />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="btn-abt cadref-btn-save btn-success" href="" ng-if="attachementObj.Titre!='' && attachementObj.FilePath!=''" ng-click="attachementSave()"" title="Enregister"></a>
						<a class="btn-abt cadref-btn-del btn-danger" href="" ng-if="attachementObj.id" ng-click="attachementDelete(attachementObj)" style="float:right" title="Supprimer"></a>
						<a class="btn-abt cadref-btn-cancel btn-warning" href="" ng-click="attachementCloseEdit()" title="Annuler"></a>
					</div>
				</div>						
			</div>
		</div>
	</div>
{% endif %}
<div  ng-if="attachementInfo.mode==''">
	<div style="height:20px"></div>
	<h5>Liste des pièces jointes</h5>
	<div class="listWrap">
		<table class="table table-hover nowrap straight" id="CadrefAttachement-table" width="100%" style="line-height:1">
			<thead>
				<tr>
					<th title="Id" class="list-col-th-id" hidden>ID</th>
					<th class="cadref-th">Date</th>
					<th class="cadref-th">Titre</th>
					<th class="cadref-th-btn">
						{% if not adherent %}
							<a class="btn-abt cadref-btn-add btn-success" href="" ng-click="attachementAdd()" title="Ajouter un document"></a>
						{% endif %}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in CadrefAttachement.data" >
					<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
					<td class="cadref-td typedatetime"><span class="label">{[{ item.DateModification }]}</span></td>
					<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Titre }]}</span></td>
					<td  class="table-action cadref-td-btn">
						<a class="btn-abt cadref-btn-download btn-info" href="{[{ item.FilePath }]}" target="_blank" ng-click="attachementCloseEdit()" ng-if="item.FilePath" title="Télécharger"></a>
						{% if not adherent %}
							<a class="btn-abt cadref-btn-upload btn-warning" href="" ng-click="attachementModify(item)" ng-if="!item.FilePath" title="Modifier"></a>
							<a class="btn-abt btn-abt-nfo btn-primary" href="" ng-click="attachementModify(item)" title="Modifier"></a>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>