<template>
        <div class="row" id="cms-page" {% if page.BGColor is not empty  %}style="background-color: {{ page.BGColor }}"{% endif %}>
            <div class="col-lg-12">
                {{ content | raw }}
            </div>
        </div>
</template>

<script>
</script>

<style>
</style>