<template>
        <div class="row" id="cms-page">
            <div class="col-lg-12">
                {{ content | raw }}
            </div>
        </div>
</template>

<script>
</script>

<style>
</style>