/* Block Viewed Products */
#viewed-products_block_left .products li {
	padding:10px 0;
	border-bottom:1px dotted #ccc;
}
#viewed-products_block_left .products li.last_item {
	padding-bottom:0;
	border:none;
}

#viewed-products_block_left .content_img {
	float:left;
}
#viewed-products_block_left .text_desc {
	margin-left: 10px;
}
#viewed-products_block_left li .text_desc h5 {
	padding:0 0 5px 0;
	font-size:12px;
	color:#333;
    margin: 0;
}
#viewed-products_block_left li .text_desc p,
#viewed-products_block_left li .text_desc p a {
	
}